[2016-07-25 02:16] nikrolls opened #1 "Edge has a storage limit of 1MB per value"
There is an issue caching definitions because the cache value exceeds the Edge limit of 1MB per value.
https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/extensions/api-support/supported-apis/

This is an unhandled exception and is causing issues loading lists. It may "just work" if we handle the exception (even though it's not an optimal solution).

[2016-08-03 16:10] xyjprc opened #2 "uBlock origin causes Edge tab crashing when clicking external links in Gmail"
### Describe the issue

uBlock origin causes Edge tab crashing when clicking external links in Gmail.
### One or more specific URLs where the issue occurs

http://mail.google.com
### Steps for anyone to reproduce the issue
1. Enable uBlock origin in Edge
2. Open Gmail in Edge
3. Click any external link in a mail (such as "unsubscribe")
4. A new tab opens but not redirecting to the designated link;

[2016-08-08 11:30] #1 closed

[2016-08-08 12:36] emannxx commented on #2
A suggestion: this new extension-converter app from Microsoft might help porting uBlock.
http://www.winbeta.org/news/microsoft-releases-edge-extension-toolkit-windows-10-helps-devs-port-extensions-chrome

[2016-08-08 22:06] nikrolls opened #4 "Lists whose URL does not end an extension do not load"
Edge has a funny issue (in extensions at least) where it won't initiate an XHR to a URL that doesn't have a file extension. Eg, it will request `https://example.com/list.txt`, but fail when you try to request `https://example.com/list`.

It has nothing to do with whether the file exists or not; it fails when you try to `send` the request.

This may not be solvable in the extension and may instead

[2016-08-09 00:50] nikrolls commented on #2
Issue confirmed in latest release. Doesn't happen in Chrome. Still persists even if you turn uBlock off for that page (only resolves itself if you turn uBlock off at the browser level).

[2016-08-09 00:52] nikrolls commented on #2
@emannxx: Regarding the converter app, it looks very useful but as far as I know only does what I had already done in the first iteration of this port. Most of the remaining issues are to do with Edge limitations/bugs combined with the unique requirements of this extension.

I do still plan to run the Chrome build through it and pick up anything I may have missed, however.

[2016-08-09 06:06] Snow8 commented on #4
Hmm... I thought this would explain my problem, but...

The "My Filter" list does not get loaded for me (asset-viewer.html?url=assets/user/filters.txt) also it ends with *.txt.

On the other side I can confirm your observation with the Filter "Peter Lowe’s Ad server list‎" (asset-viewer.html?url=assets/thirdparties/pgl.yoyo.org/as/serverlist) but then again "Dan Pollock’s hosts file‎" (asset-viewe

[2016-08-09 12:32] gorhill commented on #1
On ABP's issue tracker, there [an entry for the storage limit issue](https://issues.adblockplus.org/ticket/4023). One of the developer comments:

The 5MB-per-extension limit, is this something you have also observed?

[2016-08-09 18:45] nikrolls commented on #1
I haven't run into this issue, and can't actually see it documented (unless it's been added very recently). I'll do some investigation though.

I found that splitting into 1MB chunks didn't work either. I ended up having to use 300KB chunks, a limit I found through trial and error.

[2016-08-10 02:34] sloppy9 commented on #1
For an alternative to local storage, consider using [https://github.com/localForage/localForage](https://github.com/localForage/localForage).

[2016-08-12 00:47] Aerodog opened #5 "Ads not blocked in adobe flash"
Hey, nikrolls. I've been enjoying the latest release for Edge, but found a couple of issues. Ads are _not_ blocked on twitch.tv streams **only** as long as Adobe Flash is enabled in advanced settings. Once flash is disabled, ads no longer get through (because it defaults to HTML5).

Additionally, purging the cache for filter lists followed by updating the lists causes the tab to hang seemingly ind

[2016-08-15 07:35] japborst opened #6 "Pressing the refresh after toggling doesn't refresh the page"
### Describe the issue
Toggling uBlock through the extension popup, shows a refresh button. Clicking that button fails to reload the current page.

### Steps for anyone to reproduce the issue

1. Go to a website
1. Click the uBlock icon from next to the address bar, popup shows
1. Toggle uBlock on/off using the big blue button
1. Refresh button shows, click it

### Your settings

- OS: Win 10.1439

[2016-08-15 07:43] japborst commented on #6
Small debugging leads to:

`vapi-background.js (603,5): object expected`

Here the `browser.tabs.reload` function is called, but that function doesn't seem to exist

[2016-08-15 08:45] japborst commented on #2
Some interesting behaviour I came across:

1. Open gmail.com in Edge with uBlock enabled
2. Find an email that contains an external link
3. Right-click -> inspect element said external link
4. Click link

Result: no crash, link opens just fine. Trying another external link in e.g. the same email, results in the same behaviour as described in the first comment of this issue.

[2016-08-15 14:31] gorhill commented on #1
In case you didn't see this, I just found that Mozilla is providing great reference documentation about the WebExtensions API, including detailed cross-browser compatibility (Edge is documented in there): <https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Browser_support_for_JavaScript_APIs>.

[2016-08-16 18:16] iandonov opened #7 "Very slow Edge cold startup"
uBlock v.1.8.5b0
Edge v.39.14901.1000.0

No other extensions installed.

[2016-08-23 11:39] TheRyuu opened #9 "Massive memory usage while updating filter lists"
I'm not sure whether this is a consequence of how the Edge version has to handle larger objects by splitting them but I'm seeing Edge use HUGE amounts of memory in what I believe is its main rendering process.

The amount of memory consumed seems to grow the more filter lists that are enabled.  With all non-language specific filter lists enabled (except for reek's anti-adblock list and the redunda

[2016-08-23 21:20] meetshawn commented on #5
I do not experience this issue. Twitch.tv ads definitely don't show up for me, and I have Flash enabled.

Are you referring to initial ads shown when you open a stream, or ads initiated by the streamer during the stream?

[2016-08-24 06:35] japborst commented on #5
Seems like a filter lists issue. Probably a good idea to list what's enabled (see: [issue guidelines](https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md)) . Difference between Flash/HTML5 player could be different hostnames from which the ads are served from.

[2016-08-25 08:51] ghajini opened #10 "filter list not updating taking memory of 1gb"
Read first: https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md
### Describe the issue

manually updating filter lists not working
### One or more specific URLs where the issue occurs

[URL(s) for issue on a specific site are **mandatory**]
### Screenshot in which the issue can be seen

[Screenshot(s) for visual issues are **mandatory**]
### Steps for anyone to reproduce the issue

just

[2016-08-25 20:47] arebee opened #11 "uBlock0.edge-1.8.5b0 Displaying different version in extension information pane"
### Describe the issue
In Edge, inspect the information for uBlock Edge 1.8.5b0. It shows 1.7.7. This is because `manifest.json` has "version": "1.7.7" rather than "version": "1.8.5b0"

### One or more specific URLs where the issue occurs

n/a

### Screenshot in which the issue can be seen

![bad version](https://cloud.githubusercontent.com/assets/3378805/17985283/fd893b08-6ac9-11e6-9a4d-4639421f4

[2016-09-06 00:20] nikrolls commented on #7
Hi @iandonov, how long is the extension taking to start up for you?

[2016-09-06 00:22] nikrolls commented on #9
Thanks @TheRyuu, I'll look into it. Your theory could indeed be correct as this is not an ideal way to handle it, however at the same time there are very few alternatives (possibly even none).

[2016-09-06 00:22] nikrolls commented on #10
Possible duplicate of #10

[2016-09-06 00:23] nikrolls commented on #11
Thanks @arebee, this is fixed in the latest releases.

[2016-09-06 00:23] #11 closed

[2016-09-09 06:52] japborst commented on #6
PR #8 is merged. This can be closed.

[2016-09-09 06:52] #6 closed

[2016-09-11 02:09] TheRyuu commented on #10
Sounds the same as #9 although the memory usage is obviously less since you're only using default lists.  If you let it sit for a little while (depending on how fast your CPU is) it should complete.

I can't remember the exact time for mine but for nearly all filters (excluding the language specific ones and a few others) on an i7-4770 it took a few minutes to complete (and 4 to 6 GB).

You mean p

[2016-09-13 13:06] lewisje commented on #5
It can't be done: https://github.com/MicrosoftEdge/MicrosoftEdge-Documentation/tree/master/extensions/API-support/supported-APIs#webrequest

[2016-09-14 05:59] mvastola opened #12 "[Documentation Request] Development Status"
Hi,
Just a quick/simple documentation request.
I have a strictly monogamous relationship with Linux, so I am unable to try out your extension (though I do use the upstream version of uBO on FF).

Anywho, I just wrote a uBO filter list I'd like to share with others. In addition to the standalone list, I was going to provide documentation on how to install uBO for the various major browsers, and upo

[2016-09-16 06:38] SylveonBottle commented on #7
Due to github's removal of private messages and failure to add any sort of way of contacting you on your page or anywhere, I'll just throw this discussion in this random bug report. No need for me to start a fake bug report on my own for something that could be answered with a single sentence.

I received an email a few weeks ago about how someone requested you upload the add-on to the store, but

[2016-09-23 22:49] nidunc commented on #7
@SylveonBottle While searching around for more information about [Microsoft Edge's partnership with uBlock Origin][EdgeTwitter], I came across your comment. Even though I'm in no way affiliated with uBlock Origin - I'm but a mere user of the extension - I'd still like to comment on your comment.

Firstly, you mention in your first paragraph that @nikrolls, who forked @gorhill's repository and main

[2016-09-25 10:17] SylveonBottle opened #14 "Misspelling in README.md "clik""
### Issue

Misspelling in README.md

### URLs

https://github.com/nikrolls/uBlock-Edge/blob/master/README.md

### Screenshot

![i6k6nmw 1](https://cloud.githubusercontent.com/assets/17802843/18814637/5a755068-82df-11e6-9e3d-68a1f1ad26a5.png)

### Steps for anyone to reproduce the issue

View image above.
1.) Click link under "Specific URLs"
2.) Ctrl+F (Search) for "clik"

### Browser/version:

Mic

[2016-09-29 16:41] ghajini opened #16 "YouTube scripts don't work on homepage"
### Describe the issue

ublock breaking youtube pages.
cannot see preview images of youtube videos.
to see next youtube videos when i click "load more" nothing happens.
screenshot will tell you more
scroll  down for seeing broken images
### One or more specific URLs where the issue occurs

www.youtube.com
### Screenshot in which the issue can be seen

![screenshot 43](https://cloud.githubuserconte

[2016-09-29 17:40] japborst commented on #16
@ghajini interesting. I run the same version with many more lists and have no issues at all. Cannot reproduce the problem. I assume that when uBlock is disabled, the problem goes away? Did you upgrade recently and did the problem arise short after? You could try removing the extension, delete the folder, download the latest (clean) release and load in Edge, if you haven't already.

[2016-09-29 23:11] #14 closed

[2016-10-03 21:58] japborst commented on #16
@ghajini I had the same issue on the FrontPage (subscriptions worked fine). I believe it was a list issue, as everything does work perfectly now :)

[2016-10-04 05:30] Mdanialj1404 commented on #16
@ghajini I'm having the same issue as well.

@japborst How did you fix your list? I mean, what list are you using now?

[2016-10-04 16:59] Akababa opened #17 "Extension load failed"
When I try to lead the extension it gives me a manifest parsing error (missing or malformed manifests file). Any fixes?

[2016-10-04 18:47] japborst commented on #17
@Akababa I saw your issue on the upstream repo as well. You did download the latest release from this repo (https://github.com/nikrolls/uBlock-Edge/releases) right? No manifest issues here.

[2016-10-06 11:34] mysterieworld opened #18 "ublock update data bases broken. + no language selection."
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue

When choose a data base, the plugin freeze, but does not update.
You can still click on a other setting, but it will not update the data bases.

Beside of that, why you cannot choose your own language, it's using my own language. But Prefer English.

### One or more specific URLs where the issue oc

[2016-10-06 16:44] ghajini commented on #16
still persists

[2016-10-06 17:53] nikrolls commented on #16
I can reproduce this, but no exceptions are being thrown or logged so it's a little hard to identify where the issue is.

[2016-10-06 17:54] nikrolls commented on #17
Yes, please try the releases from this repo (eg https://github.com/nikrolls/uBlock-Edge/releases/tag/1.9.10-edge) and then let me know if you are still having issues.

[2016-10-06 17:56] nikrolls commented on #18
This appears to be an intermittent issue not with the build but with the installation. If you remove the extension and re-install it, there's about a 50/50 chance that it will resolve itself.

It's actually still working, and if you continue to refresh this page you will see it update. The only thing that's broken is the message from the background process to the UI telling it to update the progre

[2016-10-06 18:02] japborst commented on #18
Been investigating this today actually. It does indeed update perfectly.

It appears that the issue arises from an error of `vAPI.message.broadcast` in [vAPi-background.js](https://github.com/nikrolls/uBlock-Edge/blob/master/platform/edge/vapi-background.js). Edge throws a 'handle is invalid error' after the postMessage method is called.

[2016-10-06 23:15] nikrolls commented on #18
The thing I find odd is that it seems to be related to the install. 25-33% of the time you get an install where this progress bar works 100% of the time. With other installs it doesn't work ever. But it never changes between installs.

[2016-10-07 06:17] japborst commented on #18
@nikrolls Interesting. For me the behaviour was: first time it works flawlessly, afterwards it hangs. But we can say it is definitely a communication issue, so perhaps we can force it through a workaround.

Regarding language selection, @mysterieworld, this should be implemented in the original repo. However it doesn't seem it'll be here anytime soon; see [uBlock#241](https://github.com/gorhill/uB

[2016-10-09 06:45] ghajini opened #19 "in video ads"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
1 . ublock origin in edge not working as per filter lists
2. go here
http://www.msn.com/en-in/news/newsindia/india-never-counts-bullets-while-retaliating-rajnath-singh/ar-BBxaJT1?ocid=spartandhp

3. before playing videos , ads are displayed..
4. although same problem will not happen with chrome/fire

[2016-10-09 08:41] japborst commented on #19
Duplicate of #5. The Edge API that uBlock makes use of, cannot disable requests from plugins such as Adobe Flash. Flash is being used on your webpage by the player. Ads can be blocked from HTML5-based players, such as YouTube.

Disabling Flash through the Advanced Settings in Edge, results in an HTML5 player being served by your webpage. Ads should be blocked then.

[2016-10-09 15:27] gorhill opened #20 "Changes to platform-specific code"
Not sure how best this should be handled in the long term, but for now I will just give you a heads-up of the required changes in the platform-specific code for current head:

##### Add `vAPI.shutdown.removeJob` in `vapi-client.js`

Commit: <https://github.com/gorhill/uBlock/commit/c084853d9ad15d57b6c982bb8cf37743f544790a#diff-e56525413093070dcda93114d5869cf8>. This new method is required to be su

[2016-10-15 22:56] anewuser commented on #16
@ghajini Please don't mention the nickname of gorhill on this repository. He doesn't work on the Edge version because he doesn't use Windows.

[2016-10-16 18:17] #18 closed

[2016-10-17 18:34] nikrolls commented on #20
Thanks -- I'll check this out tonight. I realised I had some global GitHub notification settings turned off so I wasn't getting notified of activity here. I've fixed that now and should be more responsive.

[2016-10-18 09:17] nikrolls commented on #16
It seems the following lists cause the issue:

* EasyList
* EasyList without element hiding rules
* Peter Lowe's Ad server list
* Fanboy's Enhanced Tracking List
* Malvertising filter list by Disconnect
* All multipurpose lists

The issue is that all some or all YouTube scripts seem to stop working. This includes lazy-load of assets and items.

[2016-10-18 09:18] nikrolls commented on #17
Closing as there has been no response to this issue.

[2016-10-18 09:18] #17 closed

[2016-10-18 09:20] nikrolls commented on #19
Thanks @japborst. Closing as this is a duplicate.

[2016-10-18 09:20] #19 closed

[2016-10-18 09:21] nikrolls commented on #5
We can keep an eye on this API and if they implement the required functionality then it should just work.

[2016-10-18 09:27] nikrolls commented on #20
So currently I've been porting all changes in `platform/chromium/*` to `platform/edge/*`, even ones that are Chromium-specific. So these changes are already in. I've not been that discerning about it, so Edge will have polyfills that it doesn't need (but because they're polyfills they should be dormant).

I've done this mainly to make the manual porting as easy as possible for now. I'd like to com

[2016-10-18 09:27] #20 closed

[2016-10-18 23:29] ctolkien commented on #4
That seems like a really weird bug which should be fixed upstream?

[2016-10-19 02:48] nikrolls commented on #4
I believe this has been half fixed in more recent Edge builds. It now only seems to affect local URLs without extensions. It's definitely an Edge bug, and I've let the Edge team know about it so hopefully it will be fixed soon.

[2016-11-01 15:10] pcause opened #23 "add how to enable in the README.md"
can you add a brief note on how to enable edge to load the extension from the file system to the readme?

[2016-11-01 18:41] nikrolls commented on #23
@pcause, is there anything you feel is missing from https://github.com/nikrolls/uBlock-Edge#microsoft-edge?

[2016-11-03 15:03] #23 closed

[2016-11-06 02:44] nikrolls commented on #16
After many hours of trawling through YouTube's uglified code, I've discovered that the root cause of the issue seems to be that `window.onload` never fires. YouTube binds to this to set off its asynchronous scheduler (which then loads all the nice-to-have JS). I can't replicate outside YouTube though.

To replicate it inside YouTube:

1. Set a breakpoint at line 1 of `scheduler.js` (this is run be

[2016-11-06 02:46] nikrolls commented on #16
Curiously this doesn't seem to be an issue if you load a video and then click back to the homepage; everything seems to init fine on video pages, and as long as you don't refresh the tab the homepage works fine.

[2016-11-07 18:00] nikrolls commented on #16
The Edge team is looking into the issue: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9699196/

[2016-11-08 13:46] stkb opened #24 "Can't export settings to file"
### Describe the issue

When trying to export to a file from the "My filters", "My rules" or "Whitelist" tabs in the settings, the download of a file "starts" but the Save/Save as buttons on the download prompt don't work, so the exported file can't be saved.

### One or more specific URLs where the issue occurs

ms-browser-extension://uBlockOrigin_rfgc05fqypn62/dashboard.html#whitelist.html

###

[2016-11-08 13:52] stkb opened #25 "Can't back up settings to file"
### Describe the issue
Thematically related to #24 but a slightly different issue. The `Backup to file` button on the "Settings" tab of the settings doesn't do anything when clicked.

### One or more specific URLs where the issue occurs

ms-browser-extension://uBlockOrigin_rfgc05fqypn62/dashboard.html#settings.html

### Steps for anyone to reproduce the issue

1. Install a fresh copy of ublock-edg

[2016-11-08 18:25] nikrolls commented on #9
@TheRyuu, I'd be interested in your feedback on whether this is still an issue now that we're handling storing filter lists in a much more efficient manner.

[2016-11-08 18:26] nikrolls commented on #10
@TheRyuu, I'd be interested in your feedback on whether this is still an issue now that we're handling storing filter lists in a much more efficient manner.

[2016-11-08 18:26] nikrolls commented on #10
@ghajini, I'd be interested in your feedback on whether this is still an issue now that we're handling storing filter lists in a much more efficient manner.

[2016-11-08 18:34] nikrolls commented on #12
Hi @mvastola, sorry for the delay in responding. I've been actively working on this project but didn't get back to this as soon as I could have.

I have been very intentional in stating that this is pre-release. The documentation on both repos says so, and the releases are all tagged 'Pre-release' using the semver pre-release notation (`-edge`, while I agree it's not so obvious, is technically a p

[2016-11-08 18:37] nikrolls commented on #25
Thanks @stkb, this was an issue I was aware of but I clearly had forgotten to document it! There are some finicky limitations in generating downloads from a background page in Edge which is the cause of this issue. I will bring it up with Microsoft and if they don't have a workaround then I'm sure they'll add it to their issue tracker.

[2016-11-08 18:40] nikrolls commented on #24
Thanks for this. Additional info: on Edge build 39.14931.1000.0 (Slow Ring) I don't get the Save/Save As/Cancel option at all; the file opens up directly in Notepad. Which is also not ideal (I think most people would rather being able to save it directly to a file) but it looks like the Edge team may have applied a fix since the latest public release.

[2016-11-08 19:32] stkb commented on #24
Hmm interesting. Yeah it's also not ideal like that, but if it stays that way then you'll at least be able to save the data.

[2016-11-08 20:05] mvastola commented on #12
Ah. The `-edge` notation in semver is indeed confusing in this context, but that isn't immediately visible upon first glance of the repo in any case so I think something more prominent might be desirable.

Might I suggest specifying "alpha"/"beta"/"pre-release"/etc in the subtitle of the repo (if it fits) as well as updating to the `README.md`? I totally understand not wanting to have to maintain

[2016-11-09 01:01] nikrolls commented on #12
All good points. I'll re-work `README.md` with many of those recommendations, as you're right -- it should be easy to find Edge-specific information. This is something I'd planned to do but not allocated the time; now that the major issues are under control I have a chance to do it.

Regarding translations, do you mean the translation files in the extension? I can't find any reference to them in t

[2016-11-09 02:45] mvastola commented on #12
![ublock-edge_readme md_at_master_ _nikrolls_ublock-edge_-_2016-11-08_21 44 25](https://cloud.githubusercontent.com/assets/599767/20125633/9cefffe8-a5fc-11e6-88de-355541ae7447.png)

[2016-11-10 17:05] stkb commented on #24
Relevant: [Edge platform issue #8477778](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8477778/).

BTW, just want to thank you for all your effort in this fork. It's really great to be able to use uBlock-origin in Edge :)

[2016-11-10 20:32] nikrolls commented on #24
Good spotting, thanks! I think I may be able to figure a workaround, but it's good to see that the core issue is logged and will eventually be fixed.

And thanks, it's as much for me as for everyone else but I'm glad that everyone finds it useful 😄

[2016-11-12 16:00] ghajini commented on #5
other adblockers working fine.. checked with AdBlock

[2016-11-20 05:29] lope opened #26 "Peter Lowe’s Ad and tracking server list breaks slack.com and duckduckgo.com"
### Description
When **Peter Lowe’s Ad and tracking server list** is enabled, lots of sites break.

### One or more specific URLs where the issue occurs
http://duckduckgo.com/?t=lm&q=ublock+origin
http://imgur.com/
foo.slack.com (a chat group you're part of)

### Screenshot in which the issue can be seen
http://imgur.com/a/qc9Sc

### Steps for anyone to reproduce the issue
1. Enable Peter Lowe’s A

[2016-11-20 05:35] nikrolls commented on #26
This repo is for the Edge port of the extension; could you please re-file this issue at https://github.com/gorhill/uBlock/issues?

I can understand the confusion as I haven't modified the readme much in this fork. I plan on doing that soon.

[2016-11-20 05:35] #26 closed

[2016-11-20 06:53] iandonov commented on #7
Much better now with:
uBlock v1.9.17.6
Edge 39.14971.1000.0

[2016-11-20 06:53] #7 closed

[2016-11-20 07:17] nikrolls commented on #7
Thanks for the update @iandonov!

[2016-11-20 12:41] gorhill commented on #26
That is not normal, Peter Lowe's is a hosts file, there is no `com` entry in it. Maybe the list did not download properly, an update should be forced by purging it in _3rd-party filters_ pane.

[2016-11-21 06:45] nikrolls commented on #12
Thanks for your feedback; I've made a major update to `README.md` and also modified the About page of the extension to point to this repo.

[2016-11-21 06:45] #12 closed

[2016-11-21 06:45] nikrolls commented on #10
I'm going to close this for now as I've had reports from other sources that memory issues are no longer present. It can be re-opened if necessary.

[2016-11-21 06:45] #10 closed

[2016-11-21 06:47] nikrolls commented on #2
On the latest Insider Fast build and the latest version of uBlock Origin, I'm not experiencing this issue any more. Can anyone else corroborate?

[2016-11-21 06:49] nikrolls commented on #9
I'm going to close this because I've had independent reports that the efficiency issues are resolved now. It can be re-opened if necessary.

[2016-11-21 06:49] #9 closed

[2016-11-21 06:59] nikrolls commented on #16
Update from one of the developers on the Edge team:

@gorhill, what are your thoughts about this? I don't know a lot about the core yet but I would assume this is fairly deep and challenging to override in platform. If I could it would still mean that iframe resources are loading (even if they're being hidden) which is less than ideal.

My current best (but untested) idea for implementing a workar

[2016-11-21 10:39] Otik commented on #2
I'm on the Insider slow ring with the 1.9.17.10 build of uBlock Origin and still have the issue.

[2016-11-21 14:18] gorhill commented on #16
The issue needs to be more specifically described with all the technical details -- the description is too vague. Whatever solution there is might be different if I understand _exactly_ the core issue.

Not blocking `iframe` through webRequest is an awfully terrible solution, this essentially means that uBO would be forced to connect to 3rd-party sites and load `iframe` payload despite assurance t

[2016-11-22 19:57] lope commented on #26
Oh @gorhill, okay I updated and it seems fine now :) thanks

[2016-11-23 22:36] japborst commented on #2
Slow ring recently got an update. I am on the slow ring too running the latest build (win10 14965) and don't have the issue anymore. Links open just fine now, no crashes

[2016-11-23 23:01] nikrolls commented on #2
Huzzah! Thanks @japborst for the update. Looks like this will be resolved in the Creators Update then. Though it may or may not be backported to an AU cumulative update; we should probably keep this ticket open until the fix is in the wild.

[2016-11-28 04:11] nikrolls commented on #16
Thanks @gorhill. I agree on all points, I mainly wanted to cross-reference my thoughts with yours.

I have found a workaround that addresses the exact issue, has no side-effects, and will be easy to remove once the Edge bug is fixed: **[Workaround for YouTube / window.onload issue](https://github.com/nikrolls/uBlock-Edge/issues/27)**. I'll leave it open for a day or so to give opportunity for feed

[2016-11-28 05:22] nikrolls commented on #24
Update: I've been in contact with Microsoft and they have confirmed again that a fix is on the way. I have tried a few suggested workarounds but none are sufficient. As the current Fast Ring build actually does allow you to download (albeit with a worse experience, auto-saving into a cache folder and opening that file in the default text viewer) I'm going to leave that as is until the Edge fix com

[2016-11-28 05:25] nikrolls commented on #25
There is a fix from Microsoft coming for #24, but I'm not 100% sure that it will fix this issue because there seems to be some extra issues around the fact that this particular download is triggered from a background page. I will let them know about this extra factor and hopefully they can fix it at the same time.

[2016-11-29 23:15] nikrolls commented on #16
Fixed in https://github.com/nikrolls/uBlock-Edge/releases/tag/1.10.0-pre.

[2016-11-29 23:15] #16 closed

[2016-12-11 15:03] Extraordinary37 opened #29 "Not blocking ads on certain sites"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Ads still showing on some sites

### http://forums.guru3d.com

[URL(s) for issue on a specific site are **mandatory**]

### http://i.imgur.com/qDQ3qM0.png

[Screenshot(s) for visual issues are **mandatory**]

### Steps for anyone to reproduce the issue

1. Visit the above URL with uBlock Origin enabled on MS Edge

###

[2016-12-11 15:14] #29 closed

[2016-12-11 15:15] Extraordinary37 commented on #29
Working now after a bit of fiddling and restarting

[2016-12-11 16:02] pedrogarcia opened #30 "Ads are not blocked on bing.com web searches"
### Describe the issue
Bing ads do not get blocked, even when creating a filter for them.

### One or more specific URLs where the issue occurs

https://www.bing.com/

### Steps for anyone to reproduce the issue

1. Make a web search on bing, for example: used cars

### Your settings

It is reproduceable on the default settings

- Browser/version: Microsoft Edge
- uBlock Origin version: ublock edg

[2016-12-11 17:27] gorhill commented on #30
If you add `bing.com##.b_ad` as custom filter, does it work?

[2016-12-11 17:39] pedrogarcia commented on #30
Nope. Not on edge, specifically. On chrome, the ads are blocked. Also, other Adblocks don't get ads blocked on bing on edge. As well. There is even a bug report opened in Adblock Plus https://issues.adblockplus.org/ticket/4425

[2016-12-11 17:57] gorhill commented on #30
I disabled the shadow DOM code path on Chrome (which is how ads are properly hidden on `bing.com`), and I can reproduce the result of ads not being hidden (sometimes they are). There is code in uBO's content script for yet another fallback when user styles and shadow DOM are not supported, but it does not work (often) on `bing.com` because of a timing issue.

There is probably a way to fix this, I

[2016-12-11 18:07] nikrolls commented on #30
Thanks for jumping onboard @gorhill. When they do get through they seem to show up after a short delay, whereas with uBlock off they show instantly. So a timing issue sounds plausible.

As a quick test, I manually removed the inline `display: block !important` style from the ad element and it hid the element as expected. So the styles are being respected but only at a normal level of specificity.

[2016-12-11 18:51] bossfong opened #31 "Official Store Package (?)"
I just found a link to the windows store that offers uBlock Edge from here:
https://www.deskmodder.de/blog/2016/12/11/ublock-origin-endlich-im-microsoft-store-fuer-den-edge-als-erweiterung/

The link is:
https://www.microsoft.com/de-de/store/p/ublock-origin/9nblggh444l4

Is this legit?

Sorry for not conforming to the contribution guidelines, but this issue does not fit very well with the guidelin

[2016-12-11 20:42] bossfong commented on #31
I guess that clears things up: https://medium.com/@nikrolls/at-long-last-ublock-origin-on-edge-5ffd4f0c2f75

sorry for the noise

[2016-12-11 20:42] #31 closed

[2016-12-12 04:16] 0x000001 opened #32 "cant isntall from appstore"
0x80070005

[2016-12-12 07:21] kevin12314 opened #33 "Ublock Origin will not block ad after change page index"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
Some websites Ublock Origin will not block ad after change page index.
When this bug appear,the "block element" in context menu won't work.

### One or more specific URLs where the issue occurs

http://ck101.com/thread-2551696-19-1.html

### Screenshot in which the issue can be seen

First time it w

[2016-12-12 12:42] wind-rider opened #34 "tapping on icons in tablet mode selects them"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
In "tablet mode" (windows 10) the icons become selected as text when you tap on them. This makes it unclear in what state the switch is (if the icon represents a switch) and it makes the interface feel odd.

### Screenshot in which the issue can be seen
![image](https://cloud.githubusercontent.com/a

[2016-12-12 20:56] wizarrc commented on #32
@0x000001 Just worked fine for me using the Windows Store. I would advise try to install it again after a few hours. That usually solves the issue for me if an app doesn't seem to install without error.

[2016-12-12 22:35] xfix opened #35 "Functionality to block downloads of big media doesn't work"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue

[Functionality to block downloads of big media](https://github.com/nikrolls/uBlock-Edge/wiki/Per-site-switches#no-large-media-elements) doesn't work

### One or more specific URLs where the issue occurs

 http://www.wired.com/2016/01/drones-arent-just-toys-anymore

### Screenshot in which the issue

[2016-12-13 01:38] branpurn opened #36 "Google spams the user with large banner ads for Google Chrome"
An issue Edge has that Chrome doesn't: Google spams the user with (sometimes large) banner ads for Google Chrome. Is there a way for an Edge uBlock-specific block on these?

[2016-12-13 02:41] ctolkien commented on #36
God I hate those ads too...

[2016-12-13 08:57] Spunkyflyy opened #37 "Can't export properties to file."
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
Can't export properties to file.

### One or more specific URLs where the issue occurs

[URL(s) for issue on a specific site are **mandatory**]

### Screenshot in which the issue can be seen

[Screenshot(s) for visual issues are **mandatory**]

### Steps for anyone to reproduce the issue

1. Be as d

[2016-12-13 11:56] gorhill commented on #37
Duplicate of #24.

[2016-12-13 12:17] gorhill commented on #36
<https://www.youtube.com/watch?v=8TvCGWwQr5o>.

[CONTRIBUTING](https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md):

[2016-12-13 17:49] stkb commented on #34
Seeing this too. A couple of notes:
- It seems to only affect the large power icon. All other clickable elements seem to work ok.
- Windows doesn't have to be in tablet mode or without a keyboard; it always happens when you touch the icon instead of clicking.
- In Chrome the icon works fine although it does get selected for a fraction of a second before deselecting

[2016-12-13 18:11] gorhill commented on #34
Adding `user-select: none;` to the button's style would probably fix the issue.

[2016-12-13 18:23] nikrolls commented on #32
Thanks @0x000001, I'll keep this ticket open a little while to see if anyone else is having the issue. If you try again now, does it install?

[2016-12-13 18:24] nikrolls commented on #33
Thanks @kevin12314, I'll look into this shortly!

[2016-12-13 18:26] nikrolls commented on #34
Thanks @wind-rider for the report. I think I should add a few touch-specific styles to the platform styles; @gorhill I would say `user-select: none;` would be the one.

[2016-12-13 18:27] nikrolls commented on #35
Thanks @xfix for the report! I'll take a look into it shortly.

[2016-12-13 18:28] nikrolls commented on #36
Thanks @branpurn for the report. As @gorhill indicated, this is more likely a filter list issue. I would expect that Firefox users would also be getting these banner ads? So it's definitely something that could go in a global list rather than specifically in the Edge extension.

[2016-12-13 18:30] #37 closed

[2016-12-13 18:39] gorhill commented on #34
I tried `user-select: none;` in Chromium and it did prevent the selection. So this should be added to the platform-independent code. Does the style work on Edge without the `-ms-` or `-webkit-` prefix?

[2016-12-13 18:43] nikrolls commented on #34
Yep, no prefix is fine.

[2016-12-13 18:48] japborst commented on #34
You likely have tested this, but caniuse suggests otherwise... http://caniuse.com/#search=user-select

[2016-12-13 20:11] wind-rider commented on #34
It also happens in the request log:
![image](https://cloud.githubusercontent.com/assets/3463496/21157156/b92020a2-c178-11e6-980c-1a3a0c6ea0d9.png)

[2016-12-13 20:28] gorhill commented on #34
Ok, I will apply the style to all `.fa` button -- there is no real use case for being able to select these buttons.

[2016-12-14 06:03] #25 closed

[2016-12-14 07:26] nikrolls commented on #34
@japborst Arg, you're right. I'm so used to using autoprefixer at work.

[2016-12-14 15:20] gorhill commented on #32
Just in case, some anti-viruses or cleaners will interfere with the installation of uBlock Origin. See <https://github.com/gorhill/uBlock/wiki/Software-known-to-have-uninstalled-uBlock-Origin>.

[2016-12-14 16:49] raxbe opened #40 "Frequent broken layout opening pages in new tabs"
### Describe the issue
Opening article pages in new tabs on former Gawker sites like Kotaku, Gizmodo, etc breaks the layout/format of the related articles and comment section. Refreshing the page at that point typically fixes the problem. This happens most of the time but oddly not always.

### Screenshot in which the issue can be seen
Broken:
![1](https://cloud.githubusercontent.com/assets/245702

[2016-12-14 18:55] coolstar opened #41 "Inline HTML5 video ads on youtube are not blocked and still show up"
### Describe the issue

Inline HTML5 video ads on youtube are not blocked and still show up.

Note: Video ads are blocked and don't show up with uBlock Origin in Chrome

https://www.youtube.com/watch?v=ENiAiSzVuVk

### Screenshot in which the issue can be seen

![image](https://cloud.githubusercontent.com/assets/1431548/21196176/939aa7c6-c1eb-11e6-92b0-494621cf266c.png)

### Steps for anyone to re

[2016-12-14 19:56] nikrolls commented on #41
Hi @coolstar, thanks for the report. Can you please confirm that you've ensured your third-party lists are up-to-date? You'll need to go into uBlock options -> 3rd party filters -> Update now, and then check to see if you still get ads.

The reason is I think these may not be updating on install, which would be a different issue than it not being able to block HTML5 ads.

[2016-12-14 19:56] nikrolls commented on #40
Thanks @raxbe for the report, I'll look into it!

[2016-12-14 19:57] #36 closed

[2016-12-14 19:59] nikrolls commented on #34
Thanks @gorhill; the -webkit prefix works in Edge due to their compat work. I'll close this now and work on the 1.10.2 release!

[2016-12-15 08:19] #34 closed

[2016-12-15 09:08] japborst commented on #41
@nikrolls I can confirm that no list is updated upon install. I'm not sure what the desired behaviour is?

[2016-12-15 14:07] gorhill commented on #41
Lists are updated when needed a couple of minutes after install. Each list is updated one by one with a good interval in between. Once all lists have been updated, all filters are reloaded. This is all done transparently.

[2016-12-16 00:00] Marsfan commented on #32
@nikrolls @gorhill I recommend that this is closed. I just ran an install for the first time and I encountered no errors.

[2016-12-16 05:40] reunicorn commented on #32
@Marsfan @nikrolls @gorhill I think this issue should remain open. It's still failing to install on 2 out of my 4 computers:

- On one of my computers, the extension installed first try and without issues.
- One another computer, the install failed, but after restarting the PC and trying again it succeeded.
- And on the other 2 computers, it failed the first time and every time after that (still f

[2016-12-16 07:31] nikrolls commented on #32
On the one hand, this is an issue that's largely out of our control, at least as it pertains to the source code on this repo. On the other hand, I need to work with Microsoft to see if they can find the issue and fix it. I'm happy to keep it open temporarily while I get them to look into it, but that may be a little while as we approach Christmas. At the very least it would be good to obtain some

[2016-12-16 20:06] stasjok opened #43 "Problem with websocket rule"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

## Describe the issue
After last update (1.10.2 from store) I have issue with opening some sites. Instead of webpage loading a .htm file is downloading. In version 1.10.0-pre this websites worked (but I think in this version this rule just doesn't work, because I can't see it in web request log).
You can find similar rule

[2016-12-17 13:44] raxbe commented on #43
I don't have RU Adlist in use but do encounter the issue described here on [opensubtitles.org](url). The site loads fine with ABP.

[2016-12-17 19:23] gofirst2220 opened #44 "UBlock doesn't update the filter list"
### Describe the issue
It just doesn't update certain filter list other than its own.

### One or more specific URLs where the issue occurs
Ublock's Settings dashboard

### Screenshot in which the issue can be seen

see filter list section or here: [see](http://i.imgur.com/izQaOrx.png)
### Steps for anyone to reproduce the issue

1. Click on Settings icon on the Ublock pop up
1. Navigate to Filter

[2016-12-18 07:38] npavlov opened #45 "Browser trying to download some pages, instead of open them"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue

Browser trying to download some pages, instead of open them

### One or more specific URLs where the issue occurs

https://news.yandex.ru/yandsearch?cl4url=www.interfax.ru/world/541884&lang=ru&from=main_portal&lr=213

Open any link below

### Screenshot in which the issue can be seen

![image](http

[2016-12-18 08:32] coolstar commented on #41
@nikrolls the issue seems to happen at random, and seems to actually be a bigger issue. Sometimes, at random uBlock Origin stops blocking ads on all webpages in Edge... completely closing and restarting Edge seems to resolve it temporarily and the problem sometimes re-exhibits itself later

[2016-12-18 14:02] gorhill commented on #41
Sounds like the symptom one would get if an exception was thrown somewhere in uBO's code, leaving it in a bad state. Is there such a thing as a dev console for extensions in Edge? If so, looking at errors in there could help.

[2016-12-18 16:12] japborst commented on #41
@gorhill yes, you can debug the extension through the dev console similar to Chrome. The hard part is that this has never occurred to me before and cannot produce the issue, so that makes it hard to debug.

[2016-12-18 17:37] nikrolls commented on #45
Thanks for the report @npavlov, I'll take a look.

[2016-12-18 17:37] nikrolls commented on #44
Thanks @gofirst2220, I had a suspicion this may be the case. I'm going to take a look into it shortly.

[2016-12-18 17:38] nikrolls commented on #43
Sounds like it could be related to https://github.com/nikrolls/uBlock-Edge/issues/45. I'll take a look.

[2016-12-18 17:40] nikrolls commented on #41
In 1.10.2 I fixed an issue with a couple of lists not loading the pre-packaged version. I'll take a look at whether they're updating automatically, with @gorhill's description in mind.

As @japborst says, there is a dev console but naturally one of us just needs to be able to reproduce the issue first.

[2016-12-19 06:16] nikrolls commented on #45
As far as I can tell, this is an Edge issue. 

Here's what's happening:

1. When you click one of the links on the Yandex News page, it opens a new tab to `http://news-clck.yandex.ru/clck/jsredir?...`. The querystring contains the URL to redirect to.
2. When processing the response headers of this page, uBlock identifies that it needs to block websockets on this page and adds a CSP header with the

[2016-12-19 06:18] npavlov commented on #45
@nikrolls  Thank you for answer. Will wait for fix. =)

[2016-12-19 06:25] nikrolls commented on #43
I can confirm that this is definitely the same issue as #45; when you try to modify the response headers (which is the case in websocket rules) Edge seems to ignore all the response headers. Because one of these is Content-Type, and because without a recognised Content-Type Edge will try to save the response as a file, you get this behaviour.

@raxbe, I'm going to close this ticket because #47 has

[2016-12-19 06:25] #43 closed

[2016-12-19 06:36] nikrolls commented on #44
@gofirst2220, I seem to be able to update everything manually. I'm currently looking into whether automatic update is working as expected.

Can you please confirm if you're experiencing the issue with manual updates as well?

[2016-12-19 06:47] nikrolls commented on #41
I'm unable to intentionally reproduce this, but I'll leave it open for now as it seems to be intermittent.

[2016-12-19 07:04] nikrolls commented on #40
I'm unable to reproduce this in 1.10.1 or 1.10.2 using 39.14986.1000.0 (Fast Ring). I'll take a look at it in public release and update.

[2016-12-19 07:27] nikrolls commented on #33
Ah ha! It looks like you're using the version from the latest Fast Ring preview. There are known issues there with cosmetic filters not working properly after the first load. This works fine in the current release version of Edge.

http://simple-adblock.com/faq/testing-your-adblocker/

[2016-12-19 07:27] #33 closed

[2016-12-19 17:55] nikrolls commented on #35
It would appear that Edge doesn't support cancelling a request in response to headers being received (it can only redirect or modify headers).

`Response error: Unexpected property name for blocking response on given event. Value must be [redirectUrl,responseHeaders]`

I'll check in with the Edge team and see if they have any thoughts.

[2016-12-19 17:59] nikrolls opened #46 "Dom Inspector in Logger is not working"
When opening the Logger and switching to the Inspector, nothing happens.

There are two changes required to fix this issue:
* #42 (merged)
* https://github.com/gorhill/uBlock/pull/2242 (merged)

[2016-12-19 18:27] #30 closed

[2016-12-19 18:31] nikrolls commented on #30
This is resolved in 1.10.4, which will be available from the Store soon.

[2016-12-19 19:04] gorhill commented on #30
@nikrolls The fix is not part of 1.10.4, as it needs more through testing before being released since how cosmetic filtering is enforced has been changed beyond trivial. Sorry for the confusion, I released 1.10.5b0 to make this clear.

[2016-12-19 19:22] nikrolls commented on #30
Ah, ok -- no worries! I can re-jig the release to match yours (I'd rather keep it aligned). I'm preparing the Store release later today anyway, so no harm done.

Cursory testing shows that the fix appears to have resolved the issue in this ticket, so it's on the right track.

[2016-12-19 19:31] gorhill commented on #30
Actually I thought it was nice to see the fix released for Edge, given that it still is preview mode, and that it does solve an issue which was not present on other platform -- so the risk for Edge is really non-existent. I worry more about more testing needed for Chromium and Firefox. Maybe you could create a revision 1.10.4.1 specific to Edge? (the extra ".1" would make it clear it's not exactly

[2016-12-20 18:35] nikrolls commented on #45
Ticket for Edge bug: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8796739/

[2016-12-20 20:51] scottlow commented on #35
Thanks for filing this! This looks like a bug on our end, so I've filed https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10284047/ to track the issue.

[2016-12-20 22:26] Marocco2 commented on #41
I have 2 devices, my PC and the Surface Pro 3. Only the SP3 has this issue (last fast ring build available)

[2016-12-21 23:48] nikrolls commented on #35
Thanks @scottlow 😃

[2016-12-22 20:53] stkb opened #47 "Refresh button in uBlock panel doesn't refresh a page that has an url containing a '#'"
#### To reproduce:
1. Go to a url with a hash-part, eg: https://en.wikipedia.org/wiki/UBlock_Origin#History
2. Open the uBlock panel and make a change; eg: one of the advanced filters or deactivating uBlock itself.
3. Click the refresh button that has appeared
   <img width="373" alt="ublockrefresh" src="https://cloud.githubusercontent.com/assets/6125444/21439861/75f2117c-c890-11e6-9518-1a7f53869a

[2016-12-22 21:08] stkb commented on #47
Actually the behavior is consistent with pressing enter in the address bar: for hashless urls the page always gets refreshed; for urls with a hash part it doesn't (unless the main url part before the hash has changed).

[2016-12-22 21:20] japborst commented on #47
You're completely right, that is exactly what it does. Edge did not support the reload function (and still doesn't, just checked) and I wrote this workaround in #8. Didn't think the hashed case through, apparently.

[2016-12-22 21:50] stkb commented on #47
Ah, yeah I see. I guess there's nothing to do until platform support comes?

(For reference: [Edge platform issue 9107382](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9107382/)).

[2016-12-23 07:25] nikrolls commented on #47
#48 works around this issue ;)

It will still be better to use the proper API when it's supported, but until then this feels acceptable.

[2016-12-24 07:39] ZenMasta commented on #41
I have a surface pro 3 on and a desktop pc both on insider fast rings. I experience ads on youtube still as well. Infact I also got ads using adblock and adblock plus on microsoft edge too. If there was an easy way for me to submit a debug I'd gladly do it. Maybe there could be an option built into the extension where it would monitor the activity and then send a report back I wouldn't mind opting

[2016-12-24 11:51] japborst commented on #41
Hah that'd be something, Microsoft having a deal with YouTube - they are a little conspicuous with ads on Bing, though. But on my SP3 I never have ads on YouTube so I know it's definitely possible. I assume filters are up to date? Can you check and do a manual update? Also, make sure you are using the HTML5 version of YouTube. You can check this here https://www.youtube.com/html5

[2016-12-25 06:11] stasjok commented on #45
Is it correct to add this custom rule for workaround?
`@@*$websocket`
Nothing unexpected can happen?

[2016-12-25 20:01] siyangqiu commented on #44
Hi! I'm not gofirst2220, but I have a similar issue. Manually clicking "Update" will get the loading bar, but at some point the loading bar will hang - leaving it will not let it go away, so it's not just slow. However, once I hit refresh, everything does show up-to-date. I've had this issue both on the store version and the sideloaded version. Anyhow, this is more of a minor issue.

[2016-12-25 22:22] nikrolls commented on #44
Thanks @siyangqiu. I'll keep looking into it.

[2017-01-07 03:14] jack-cole opened #49 "Can't check/uncheck settings"
### Describe the issue

Clicking the checkboxes on the settings page doesn't work. The checkboxes appear to be clicked, but they don't get checked. (they highlight black on the inside when the mouse button is held down)

### One or more specific URLs where the issue occurs

ms-browser-extension://EdgeExtension_37833NikRollsuBlockOrigin_f8jsg5mm64m62/dashboard.html

### Screenshot in which the issu

[2017-01-07 10:16] affe42 opened #50 "Ghostery & uBlock-Edge"
### Describe the issue

It seems that you cannot run Ghostery (7.1.1.5) and uBlock (1.10.2) at the same time. One or the other always shows zero detections.

Is this Edge extensions API restriction or something else? I'm happy to bug Ghostery's devs if it's their fault. :-)

### One or more specific URLs where the issue occurs

### Screenshot in which the issue can be seen

### Steps for anyone to

[2017-01-07 11:01] japborst commented on #50
Perhaps because the other one has already blocked the request, so there's nothing left for the other one? How is the behaviour in Chrome, for example?

[2017-01-07 11:33] affe42 commented on #50
On other chromium-based browsers they complement, not exclude each other. For example, with Opera, you can easily get three layers of filtering: Opera's built-in, Ghostery & uBlock Origin.

[2017-01-07 11:35] japborst commented on #50
Right. And you can confirm there is no overlap between blocked requests?

[2017-01-07 12:06] affe42 commented on #50
Yes, on Opera I can selectively disable/enable either one (Ghostery / uBlock) and the other will immediately (after reload)  see the resources not filtered by the other any more. On Edge, if uBlock is active, Ghostery doesn't filter anything, even if you disable uBlock from it's settings panel.

[2017-01-07 17:01] laxman20 opened #51 "Unable to browse tomshardware"
### Describe the issue

Trying to enter the website from a new tab redirects back to new tab.  Trying to enter through a Google search result results in a prompt to save a file

### One or more specific URLs where the issue occurs

www.tomshardware.com
www.tomsguide.com

### Steps for anyone to reproduce the issue

1. Open Edge
2. enter "www.tomshardware.com"

### Your settings

- Browser/version:

[2017-01-07 17:49] gorhill commented on #51
Duplicate of #45.

[2017-01-08 03:36] ForumSchlampe commented on #45
Is this the same problem as for openload.co? Sometimes it tries to download a site, sometimes it just closes the site.

[2017-01-08 09:50] stasjok commented on #45
@ForumSchlampe, it's the same.
You can exclude rule that causing the problem by adding custom rule (your domain only):
@@$websocket,domain=openload.co
or for all domains:
@@$websocket
I added last rule and never saw this problem since.

[2017-01-09 22:10] ForumSchlampe commented on #45
@stasjok
thanks
@@$websocket
works like a Charme...tried your the one in your previous post but this didnt work ( @@*$websocket )

[2017-01-11 01:14] #47 closed

[2017-01-11 01:18] nikrolls commented on #51
Agreed. There is a fix on the way from Microsoft.

[2017-01-11 01:18] #51 closed

[2017-01-11 01:33] nikrolls commented on #50
Yeah, I noticed this when Gostery came out and I tried it myself. I'm not sure what the issue is but it does appear to be browser-side and either a bug or intentional implementation detail on Microsoft's side (I haven't asked them about it to know which).

I followed these steps:
1. Install uBlock, Adblock Plus, and Ghostery.
2. Disable all but uBlock in the browser. uBlock catches requests.
3. En

[2017-01-13 01:00] scottlow commented on #50
This is a known issue that we have recently fixed: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10276685/

It should be fixed in the most recent Windows Insider Preview build (15007) that dropped earlier today and I'm in the process of sending the fix in for approval to back-port to Anniversary Update builds now.

[2017-01-13 05:07] affe42 commented on #50
Thanks for the info!

[2017-01-13 20:39] nikrolls commented on #50
Thanks @scottlow, I can confirm this appears to be working in 15007!

[2017-01-13 20:40] nikrolls commented on #35
Thanks @scottlow, I can confirm this is working in 15007! Thanks!

[2017-01-16 15:22] vemacs opened #54 "Updating third-party filters is horrendously slow on Edge for build 15007"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue

The progressbar when updating third-party filters hangs about halfway, around the first pull from the web when trying to update filter lists in Edge on Windows 10 15007.

### One or more specific URLs where the issue occurs

ms-browser-extension://EdgeExtension_37833NikRollsuBlockOrigin_f8jsg5mm64m

[2017-01-16 15:35] gorhill commented on #54
There is a timeout of 30 seconds if a server does not respond to a request when fetching a filter list. Did you have to wait more than 30 seconds?

[2017-01-16 15:36] vemacs commented on #54
I waited about 5 minutes.

[2017-01-16 15:41] japborst commented on #54
This used to happen pre- #21. Shouldn't happen on 1.10.2, but perhaps the latest fast build introduces some new issues or is buggy with its communication. My guess it's the same type of issue. I'm still on the slow ring (14986), so unfortunately cannot test this... When refreshing, do the lists still show that an update is available?

[2017-01-16 15:42] vemacs commented on #54
Yes, the orange update available indicator does ont go away.

[2017-01-16 19:46] nikrolls commented on #54
Yes, I've had this happen to me once (out of many times) and mentioned by someone else. It's a tricky one to reproduce.

[2017-01-16 19:46] vemacs commented on #54
This seems to happen 100% of the time on 15007

[2017-01-18 15:39] dsrtfx opened #55 "The 3-rd party filters list is gone, ads aren't being blocked"
Turned on my computer this morning, went to YouTube to watch videos, and realized that no ads were getting blocked anymore. Went to the options, and saw that the list is gone (see attached screenshot), no subscriptions to any lists.

I reset to default settings, but the 3rd party list is still gone.

I installed the uBlock Origin for Edge extension from the MS Store yesterday, it was working great

[2017-01-19 15:31] kevin12314 commented on #54
I find that in build 15007, "Enabled XMLHttpRequests  over Fetch" is by default in about:flags.
With this enabled , I will get error to update user script or import user script with URL in Tempmonkey , and update third-party filters in ublock Origin get vary slow .

[2017-01-19 18:20] nikrolls commented on #54
Thanks @kevin12314, that gives me somewhere to look. I know the Edge team are doing a lot of work in that area and I'll let them know.

[2017-01-22 22:04] DeathRowRecords opened #56 "uBlock-Edge ( minor bugs ) self-explanatory."
Hi [nikrolls](https://youtu.be/dQw4w9WgXcQ)
//[Start](https://youtu.be/1RW3nDRmu6k)/

using SnapsLibrary;

class uBlock_Edge
{
    public void StartProgram()
    {
        SnapsEngine.SpeakString("Hi there. first of all, let me thank you for the cool work you doing. " );
        SnapsEngine.DisplayString("Cough")
        SnapsEngine.Delay(5);
        SnapsEngine.SetTextColor(SnapsColor.Blue);

[2017-01-22 22:18] nikrolls commented on #56
Nice spam.

[2017-01-22 22:18] #56 closed

[2017-01-22 22:42] DeathRowRecords commented on #56
Wow! sorry 2 hear that :( if u think it was a spam? well . . . letting you
know! Pease be upon you, live long and prosper.

On Sun, Jan 22, 2017 at 11:18 PM, Nik Rolls <notifications@github.com>
wrote:

[2017-02-01 11:53] SaiBork opened #57 "No longer works in Windows 10 15019"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
After installing the app from the store I get the prompt in Edge to turn it on, which I do. The icon shows up and I can put it next to the address bar, however I am not able to go to the options and clicking the button gives a white square instead of the usual popout window.

Ads are also showing as

[2017-02-01 14:07] femfem commented on #57
Extensions for Edge doesn't work in build 15019 as stated under known issues in the release notes [https://blogs.windows.com/windowsexperience/2017/01/27/announcing-windows-10-insider-preview-build-15019-pc](url)

[2017-02-01 14:55] SaiBork commented on #57
Fair enough, I'll be honest and say I did not check this builds' notes. I installed the previous one and just updated it yesterday. Thanks femfem.

[2017-02-01 14:55] #57 closed

[2017-02-10 16:42] kurtfalde opened #58 "Add more network block/allowed statistics for enterprise usage"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
I'm looking at deploying this in an enterprise and wondering if it's possible to get more tracking metric data added as mgmt. always likes more quantifiable statistics.

Specifically it currently appears that the Total Network Requests Allowed / Blocked are stored in reg keys under the user profile

[2017-02-10 20:33] nikrolls commented on #58
Hi Kurt,

Thanks for getting in touch. I believe Edge is removing the Registry-based storage in the Creators Update being released soon. This is to allow unlimited storage. I'm not sure what the new system they're using is or how accessible it is for other tools to read.

Regarding adding more statistics, this is something that would be dome in the core. @gorhill, your thoughts?

[2017-02-11 02:46] ibrokemypie commented on #45
Same issue with http://www.tomsguide.com/
Even just that base url does not display with ubO enabled, works perfectly without

[2017-02-12 00:19] eherberg commented on #45
The ticket for Edge appears to be closed.  Does anybody know how long it takes for them to propagate to release?

[2017-02-12 00:34] nikrolls commented on #45
It may actually be in the latest fast ring build. I’ll give it a go and report back.

[2017-02-12 18:39] nikrolls commented on #45
It's not in the current Fast Ring build. I'd expect it to be in pretty soon though as they are now in feature-freeze for the Creators Update. @scottlow, do you have any insight on this one?

[2017-02-20 15:37] TRoskop commented on #54
Tested this on the most-recent Windows10 build (15025).
I cannot confirm this bug. As I tested it, it updated all the lists in less than 2 minutes.

[2017-02-20 15:40] vemacs commented on #54
1. 15025 is not the latest windows 10 build
2. 2 minutes is still an order of magnitude longer than what ublock takes on other browsers

[2017-02-20 15:48] TRoskop commented on #54
@vemacs : Build 15025 is the most-recent *stable* build. Of course, there is the newer build 15031, but it is marked as unstable/fast-ring.
And as Microsoft recommends, devs should focus on stable versions.

I tested the extension for Edge and the extension for Chrome.
Edge needed 00:52 seconds to update all filters, Chrome needed 00:36 seconds.

[2017-02-20 15:56] gorhill commented on #54
For Chrome, was this uBO 1.11.0? If so, that part of the code has been re-factored and I have shortened the delay between each fetch, from 5 seconds to 2 seconds. Also, with 1.11.0, it's possible to [configure the delay between each fetch](https://github.com/gorhill/uBlock/wiki/Advanced-settings#manualupdateassetfetchperiod). The reason for the delay is to be gentle on remote servers, and to be sl

[2017-02-20 15:57] vemacs commented on #54
You're right that this bug can be closed then, as the updating process doesn't outright hang anymore.

[2017-02-20 16:01] TRoskop commented on #54
![image](https://cloud.githubusercontent.com/assets/13079737/23132504/1c1acbda-f78e-11e6-90db-1f041b197238.png)
![image](https://cloud.githubusercontent.com/assets/13079737/23132530/2a1e08dc-f78e-11e6-99f3-f1c9fd04dbbf.png)

@gorhill
These are the versions on my machine.
Both are running with default configs, no changes applied.

[2017-02-24 22:15] vemacs opened #59 "Extension fails to work on Windows 10 15042"
I have tried reinstalling uBlock Origin. It appears that no JavaScript is running properly:

![](https://i.imgur.com/F1ti7Uu.png)

![](https://i.imgur.com/KItWCIM.png)

[2017-02-25 17:32] vemacs commented on #59
Issue went away after resetting edge: http://www.windowscentral.com/how-to-reset-microsoft-edge-windows-10

[2017-02-25 17:32] #59 closed

[2017-02-26 17:49] nikrolls commented on #59
@vemacs, thanks for the update!

[2017-02-28 05:12] shamarin opened #60 "Not all adds are blocked"
Not all adds are blocked on vesti.ru website even with the latest 1.11.0 version in the right conner. It's happens only in Microsoft edge. In other browsers it's ok on this website (all adds are blocked)

[2017-02-28 17:23] mrabinovsky commented on #55
I will confirm this problem. Also clicking on the uBlock logo no longer opens the menu for me. I've tried uninstalling and reinstalling from the app store.

[2017-03-01 21:27] scottlow commented on #45
@nikrolls Sorry, this notification slipped through my radar. Please send me mail if you don't hear back from me in a few days next time.

This occurs when the CSP header is modified in `foilWithCSP()` in `traffic.js`. I sent you mail earlier today, but can you help us understand the impact of this bug? Based on my brief look over the code, it appears it will happen any time there is an inline scri

[2017-03-01 21:27] scottlow commented on #45
New Edge ticket: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11111550/

[2017-03-02 17:31] scottlow commented on #45
As an update here, we managed to get a one day turnaround on this bug! It will be fixed in an upcoming Windows Insider Preview flight. We're also in the process of making changes to our Edge Issue tracker so that you'll be able to check back and see whether a fix is "fixed, but not flighted", "fixed and flighted in build <number>" or "fixed". Hopefully this helps everyone track when they can grab

[2017-03-02 19:02] nikrolls commented on #45
Fantastic! Thanks so much for working to get this fixed. I’ll let you know once I see it in a Fast Ring update. And the new statuses in the tracker will be very helpful.

Totally understand about not being able to reveal adoption trends, but that rough estimate is helpful. I’m of the opinion that updates should not be feared and everyone should update if they possibly can, so I’m happy to tell peo

[2017-03-06 02:38] vemacs commented on #55
See https://github.com/nikrolls/uBlock-Edge/issues/59

[2017-03-06 05:10] jhoff80 opened #61 "uBlock / Easylist causes sites to download .htm file"
### Describe the issue
When Easylist is enabled, going to certain domains (xda, pcgamer, and others) opens up the download bar - What would you like to do with <random letters>.htm.  This issue does not occur in Chrome or Firefox with Easylist enabled when visiting the same sites.

### One or more specific URLs where the issue occurs

www.xda-developers.com
www.pcgamer.com

### Steps for anyone to

[2017-03-06 20:25] arebee opened #62 "[Feature Suggestion] Surface the release info into the Microsoft Store details page release notes."
It would be great to have the git release label flow through into Store entry [release notes](https://docs.microsoft.com/en-us/windows/uwp/publish/create-app-store-listings#default-store-listing-fields).

[2017-03-07 01:30] Frelnik commented on #61
I have the same experience. The temporary solution suggested here [https://github.com/nikrolls/uBlock-Edge/issues/45](https://github.com/nikrolls/uBlock-Edge/issues/45) to add _@@$websocket_ to the filter list does not work after the update to v1.11.2. The filter did work prior to the update.

[2017-03-07 01:32] gorhill commented on #61
Add `@@|blob:`. 1.11.2 supports foiling web workers through `|blob:` filter, so you will have to prevent CSP injection by cancelling `|blob:` filters.

[2017-03-07 01:36] nikrolls commented on #61
Yep, duplicate of #45. Thanks @gorhill for the workaround. This is pending a fix in Edge, and I've been told it's imminent. It's the last issue to be fixed before making the extension public.

[2017-03-07 01:38] nikrolls commented on #62
Thanks @arebee! Yes, I'm a big fan of the release notes feature in the Store and get annoyed when developers don't use them. Apologies, I either forgot or didn't see the field -- if they're available for Extensions I'll be sure to add them in any future releases.

[2017-03-07 01:38] #62 closed

[2017-03-07 01:38] #61 closed

[2017-03-07 21:08] dhigh88 commented on #45
Can someone please assist me on this because the websocket rule doesn't work anymore after update. I don't know how to use the @@|blob: rule on my filters, suggested #61

[2017-03-08 05:44] stasjok commented on #45
@dhigh88 Just add this rule at the next line. There should be two rules now. "My filters" should be looking like this:
[code]

[2017-03-08 06:45] nikrolls commented on #46
https://github.com/gorhill/uBlock/pull/2242 is merged, this was released it 🏷 1.11.2.

[2017-03-08 06:45] #46 closed

[2017-03-08 06:46] nikrolls commented on #60
Could you please add the information that the template requested, like browser version and a screenshot of the issue, preferably with a comparison to Chrome or Firefox.

[2017-03-08 06:54] shamarin commented on #60
Browser version is Microsoft Edge 38.14393.0.0.
[https://cloud.mail.ru/public/ALHF/w5dmdo213](url)[https://cloud.mail.ru/public/BDHV/Wa5Fs57cv](url) added screenshots to cloud mail.ru, that are maken from Edge and Firefox 52.0.

[2017-03-08 06:56] shamarin commented on #60
In both browsers ublock origin version is 1.11.2

[2017-03-09 18:08] nikrolls commented on #55
Hi @dsrtfx and @mrabinovsky, could you please check if the latest version is working for you? 🏷 1.11.2.

[2017-03-09 18:10] mrabinovsky commented on #55
I can confirm that the latest version works now (or at least last night)

On Mar 9, 2017 13:08, "Nik Rolls" <notifications@github.com> wrote:

[2017-03-09 18:14] nikrolls commented on #55
Perfect, thanks very much @mrabinovsky.

[2017-03-11 10:02] nikrolls commented on #45
The fix is in build 15055, the latest fast ring build released today. I've verified that all sites mentioned now open correctly. I'll close this ticket once the Creators Update goes gold.

[2017-03-11 19:21] vemacs commented on #54
This is actually happening again with the latest store build and Win10 15055.

[2017-03-11 19:42] gorhill commented on #54
I looked into the code to be sure, and the only way I can explain what you observe is if the "Update now" button did not actually send the order to update the filters to the main process. This would mean that the filter lists were actually updated by the auto-updater, which causes filter lists to be slowly updated in the background (auto-updater will update a filter list if needed at most once eve

[2017-03-13 07:47] kevin12314 opened #63 "Can't upload video to Youtube"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
I Can not upload video to YouTube when uBlock Origin is enabled.

### One or more specific URLs where the issue occurs

https://www.youtube.com/upload

### Screenshot in which the issue can be seen

![image](https://cloud.githubusercontent.com/assets/10508800/23845247/f514cb10-0801-11e7-9cb3-0053402

[2017-03-13 13:15] gorhill commented on #63
Did you remove `behind-the-scene` from _Whitelist_ pane?

[2017-03-13 13:25] kevin12314 commented on #63
No. Should I remove it?
![image](https://cloud.githubusercontent.com/assets/10508800/23856170/96a2a23c-0833-11e7-93ad-77014a24bef3.png)

[2017-03-13 13:30] gorhill commented on #63
Don't remove it, doing so will cause lots of issue.

Did you look at the logger to see what uBO is doing when you try to upload? (select the _All_ entry in the drop list at the top of the logger).

[2017-03-13 14:41] kevin12314 commented on #63
Sorry I don't know how to post logs so I take some screenshot.
![image](https://cloud.githubusercontent.com/assets/10508800/23859267/0c8e8916-083e-11e7-86ba-245306593eff.png)
![image](https://cloud.githubusercontent.com/assets/10508800/23859279/16224ae4-083e-11e7-8261-b77fc6dfd827.png)
![image](https://cloud.githubusercontent.com/assets/10508800/23859317/2b0638f8-083e-11e7-9033-eabe6b5ef33e.png)
!

[2017-03-13 14:54] gorhill commented on #63
The log shows that uBO is not disabled for Youtube. Did you force a reload of the page after disabling uBO?

[2017-03-13 15:08] kevin12314 commented on #63
Sorry , I didn't turn off uBO in previous post. This one is turn off uBO .
![image](https://cloud.githubusercontent.com/assets/10508800/23860344/9f39f57c-0841-11e7-9fc1-a68b98760531.png)
![image](https://cloud.githubusercontent.com/assets/10508800/23860351/a7776efe-0841-11e7-9597-3e588c9bf2a7.png)
![image](https://cloud.githubusercontent.com/assets/10508800/23860360/aea0588a-0841-11e7-8532-c63cd43

[2017-03-13 15:30] gorhill commented on #63
I don't know what the issue is. According to the logger, nothing is being blocked (no need to post the whole thing, what matters is what is being blocked -- the red entries).

[2017-03-13 17:51] nikrolls commented on #63
I wonder if this is similar to the issue that stopped all scripts from running on YouTube. It was a browser bug but I found a workaround. I'll investigate.

[2017-03-14 23:16] xfix commented on #35
It seems like KB4013429 (for build 1609) fixed this issue, which is not Insider release.

[2017-03-15 14:11] Checkoff85 commented on #45
Hey there. Im also having this bug.
Im not an Insider, so i have the official .953 installed and uBlock origin with Edge.

www.windowscentral.com for example isnt loading at all, sometimes it wants to download the page as described above.

So im hoping we talk about the same bug and its fixed with the upcoming build as you mentioned.

I really want to use this extension...
Why isnt it listed in th

[2017-03-15 19:47] xfix opened #64 "Clicking element that doesn't load due to size restriction doesn't work"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue

Clicking an element with red border (that marks that the element wasn't loaded due to size limits) doesn't work, and shows an exception in developer tools.

### One or more specific URLs where the issue occurs

The page you are reading right now

### Screenshot in which the issue can be seen

![zrz

[2017-03-15 22:01] ForumSchlampe commented on #45
@Checkoff85
see https://github.com/nikrolls/uBlock-Edge/issues/45#issuecomment-284952931 for a current Workaround...and yes this is the bug mentioned in this bug Report

it isnt listed while it is still in preview (and cause of this bug and some other things i dont think it will be out of preview before redstone 2 release)

[2017-03-23 18:52] nikrolls commented on #64
Thanks @xfix for the report, and thanks @gorhill for the fix! I'll close this issue once it comes out in the next release.

[2017-03-24 04:38] nikrolls commented on #64
Ok, looks like there's more to this. @scottlow, this might be one for your team?

The way this works is:

1. On initial load of the image, in the `onHeadersReceived` handler, the extension detects the file is oversize and requests the request be cancelled
2. When the user clicks on the blocked image to request it be loaded, uBlock (`load-large-media-interactive.js` in the foreground) removes the i

[2017-03-24 13:53] gorhill commented on #64
Assuming the issue arise from using an empty string as `src`, I suppose uBO could use a `data:`- or `blob:`-based URL to work around this.

[2017-03-26 19:33] ghajini opened #65 "got error in logger"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
i was surfing anews article on msn, when i open logger i got this ''network error''
i don't know how to describe
### One or more specific URLs where the issue occurs

i was surfing `http://www.msn.com/en-in/news/newsindia/meat-sellers-in-up-to-go-on-indefinite-strike-from-tomorrow/ar-BByPbl2?li=AAgg

[2017-03-26 20:10] ghajini commented on #5
@nikrolls `webrequest` api is supported as of  — Microsoft Edge (38) / Windows 10 (14393)

ref link
`https://docs.microsoft.com/en-us/microsoft-edge/extensions/api-support/extension-api-roadmap`

[2017-03-26 20:26] ghajini commented on #41
i see no ads on youtube...i used html5 version of youtube or tried disabling flash and then use youtube...can't reproduce

[2017-03-27 09:47] nikrolls commented on #41
Thanks everyone for your feedback. It seems the experience is a little inconsistent. I'd be interested to see how this goes once the Creators Update comes out and this extension goes public.

[2017-03-27 17:00] scottlow commented on #64
@nikrolls thanks for letting me know. I'll work on creating a reduced case repro this morning and will let you know what I find.

[2017-03-27 20:19] nikrolls commented on #64
Working with @scottlow around a reduced repro. Not as easy to reproduce as it would appear, so I've removed the `browser bug` label until we're sure. Thanks @gorhill for the suggestion, I'll update here with the findings.

[2017-03-31 11:16] shamarin commented on #60
On Windows Creaters Update 15063 it's ok on this site.

[2017-03-31 20:23] scottlow commented on #64
Thanks @nikrolls. Any luck narrowing down the issue yet?

[2017-04-06 10:18] l33twannabe opened #66 "Windows 10 (Creators Update) + Edge + uBlock Origin = Issues"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue

After updating to Creators Update, I decided to switch to Microsoft Edge and one of the first things I did was to get ublock origin. Unfortunately, there seems to be some issue with it working with Edge, at least on the newest update (creators update). I noticed that, after some time, sites don't l

[2017-04-06 11:25] debsuvra commented on #66
I'm also using the same versions of Edge and uBlock Origin on Windows 10 Creators Update. I couldn't reproduce your issue.

[2017-04-06 11:28] debsuvra commented on #45
Installed Windows 10 Creators Update today. Edge is updated to 40.15063.0.0 and the issue is fixed.

[2017-04-06 15:30] l33twannabe commented on #66
After uninstalling/installing ublock again, everything seems to be working fine (at least for now). If anything comes up, I'll be back to report.

[2017-04-06 17:45] l33twannabe commented on #66
It was fine for about 2-3 hours, but after restarting my pc it started happening again. As soon as I click on the ublock's icon (no need to turn it off/on, just a simple click), sites start to load. No such issues with ublock turned off completely. Looks like I have to go back to Chrome until this is fixed.

[2017-04-06 19:37] dhigh88 commented on #45
I don't understand how all these Windows 10 updates work for others, but for me  I still have to use the blob, domain rule. I had the Cumulative update 2 days ago and still didn't change a thing. Could anyone kindly explain what is wrong.

[2017-04-06 20:04] scottlow commented on #45
@dhigh88 Can you confirm what version of Edge you're running?

"..." > Settings > scroll to About this app

[2017-04-06 21:41] parkerlamb commented on #66
I'm having the same issue as @l33twannabe, I have the same Edge/uBlock versions as well. I get this most commonly when the computer has resumed from sleep and Edge has been left open. Closing/reopening Edge fixes the problem temporarily, as does clicking the uBlock icon as suggested above. Can't provide a better repro than that, sorry.

[2017-04-07 01:46] dhigh88 commented on #45
@scottlow Microsoft Edge 38.14393.0.0

I tried the creators update and noticed the problem was fixed but reverted back to my previous build as I was having some issues with the latest build.

[2017-04-07 16:22] scottlow commented on #45
@dhigh88 Ah, yeah we weren't able to back-port the fix to the Anniversary Update due to how close we were to the Creators Update launching.

[2017-04-08 04:53] kurtglover33 commented on #66
I'm having the same issue as well, but I think Edge is the culprit here, as I've experienced the exact same problem with Adguard.

[2017-04-08 10:38] affe42 commented on #50
The fix has been now released with Windows 10 Creators Update. Ghostery & uBlock are now running together like they should :-)

[2017-04-10 20:43] #64 closed

[2017-04-13 13:38] DesertBear opened #69 "Blocked Elements Saved in 'My Filters' Not Working (uBlock Origin For Edge)"
### Describe the issue
If I block an element with the 'Element Picker', it saves the block rule under 'My Filters', but when MS Edge is re-started, the rules don't work and the blocked elements still appear on the page.

### One or more specific URLs where the issue occurs
https://maps.google.co.uk/
https://www.flickr.com/explore/

### Steps for anyone to reproduce the issue
**1)** Install Microso

[2017-04-13 13:53] gorhill commented on #69
For Flickr, the solution is a more appropriate filter: `flickr.com##a[data-track="miniSignupFooterSignupClick"]`.

The element picker has its limitations, and sometimes someone with experience in creating filter will be needed. This is such case. The filter choices provided by the element picker were not enough for this specific case, since the page modify the classes of the element to hide just b

[2017-04-13 14:38] japborst commented on #69
Alternatively you could click the "no thanks" button and it won't bother you again. I'll check if i can reproduce it and create a filter

[2017-04-13 15:02] DesertBear commented on #69
I'm not sure you fully understand the problem.  The rules that the 'Element Picker' adds work fine, the problem is when closing and re-opening Edge the rules that are saved to 'My Filters' don't work anymore.

Another example:

Go to https://github.com/nikrolls/uBlock-Edge

**1)** Use the 'Element Picker' to block the 'uBlock Origin Beta for Microsoft Edge' image

**2)** The 'uBlock Origin Beta fo

[2017-04-13 16:54] l33twannabe commented on #66
There's a new version (11.12.0). I'm testing now, but can anyone confirm the issue has been fixed ?

[2017-04-13 17:31] m-voit commented on #69
I can confirm the Problem. All my previous used custom filters stopped working when i upgraded to the Creators Update. The only way to change this behavious is making a new custom filter with the element picker. As soon as a new custom filter is added all the filters are working the same way they did before the Creators update.

But when i restart Edge, the filters stop working again until i add a

[2017-04-13 17:34] parkerlamb commented on #66
I haven't had this issue since KB4015583, I think it may have fixed this problem (and that it was Edge's fault).

[2017-04-14 07:51] ghajini opened #70 "ui bug possibly"
@nikrolls & @gorhill

### Describe the issue
this is ui bug og ublock edge...

### One or more specific URLs where the issue occurs

[URL(s) for issue on a specific site are **mandatory**]

### video in which the issue can be seen

`https://www.dropbox.com/s/t2rlekz9nyrq5ww/2017-04-14_12-53-49.mp4?dl=0`

### Steps for anyone to reproduce the issue

1. go to any site like youtube.com
2. click on ub

[2017-04-14 14:40] ugurozturk opened #71 "Windows Store Require Insider Program"
### Describe the issue
Can't download uBlock Origin from windows store while i am not in insider program. Because the extencion require win 10 15063.0+

### Your settings

- OS/version:  Win 10 14393.1066
- Browser/version: Microsoft Edge 38.14393.1066.0

[2017-04-14 19:38] DesertBear commented on #70
I'm also experiencing this issue.

- Sometimes the window doesn't open when clicking on the uBlock Origin icon, until navigating away from the current page and then back again.

- Sometimes the standard window is cut-off at the bottom until mouse-over.

- Sometimes the advanced window doesn't populate properly until mouse-over top 'Open Dashboard' menu bar.

**Screenshot:**
![002](https://cloud.gi

[2017-04-14 19:42] DesertBear commented on #69
I think the problem is somehow related to the uBlock 3rd-party filters.

Using just the default uBlock Origin 3rd-party filters, when pressing the 'Update Now' button the lists would try to update themselves, but the spinning circles would just keep going and going, even after all internet activity had stopped indicating that they had finished downloading.  The clock icon to indicate the filters w

[2017-04-14 20:38] gorhill commented on #69
@DesertBear good findings.

This suggests that issue is related to #4.

As a potential workaround fix, I have modified the order in which lists with no extension are read in <https://github.com/nikrolls/uBlock-Edge/blob/master/assets/assets.json>: now the URL with the extension will be tried before the one with no extension.

[2017-04-15 09:25] japborst commented on #71
Don't need the insider program, but you'll need to update Windows with the Creators Update.

[2017-04-15 13:07] #50 closed

[2017-04-15 17:51] ghost opened #72 "uBlock-Edge - Update Filters Infinity Loop Loading Circles - Clear Browsing Data - Bing Ads"
Read first: <https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md>

### Describe the issue
When updating filters, UI doesn't always update to show they've finished loading.

### One or more specific URLs where the issue occurs
N/A

### Screenshot in which the issue can be seen

![capture ublock second stage update freeze](https://cloud.githubusercontent.com/assets/17460623/25065475/faac96

[2017-04-15 21:24] nikrolls commented on #71
Yes, apologies. I didn't quite clarify that in my Twitter announcement 😊

[2017-04-15 21:24] #71 closed

[2017-04-16 03:56] nikrolls commented on #72
Hi @DeathRowRecords, you appear to be reporting three different things here. Can you please split it to three different reports (check existing issues to see if any of them are already reported) and please add as much detail as possible to the template.

[2017-04-16 03:56] nikrolls commented on #70
Thanks! I'll check this out.

[2017-04-16 03:59] nikrolls commented on #69
Thanks @DesertBear and @gorhill for looking into this. I'll monitor it along with the next update.

[2017-04-16 04:00] nikrolls commented on #66
There is currently an issue with Edge where resuming from sleep will cause this exact issue with extensions. I've been told a fix is incoming.

[2017-04-16 04:00] nikrolls commented on #65
Possibly related to #4 -- I'll look into it. Thanks!

[2017-04-16 05:13] ghajini commented on #72
He wants to say.....while updating 3rd party filters, loading loop next to that filter doesn't end and it just keeps on loading.....its just a bug in ublock edge/css animation introduced by gorhill upstream works in chrome.....while its just that loading loop that never ends,
but in end 3rd party filter is already updated in time comparable to chrome version...

[2017-04-16 11:33] DeathRowRecords commented on #72
Yes Hi Hello @nikrolls if I'm gonna do dat and separate those 3 issues I'm convinced that you be so certain that it's a SPAM! But my motion to set aside Judgment. Blue Eyed people are deemed least trustworthy, but are GOOD and strategic thinkers. So they might be able to con others easily ( But Not Me ) I Refuse and Fail To Obey! So help me God, I'm one with the force the force is with me! Figure

[2017-04-17 08:57] edrmrk commented on #72
I'm having the infinite loop bug ad yeah after some minutes the filters are updated but the problem is that for me they roll back to the outdated version and needs the updates again (after 2 or 3 hours)

[2017-04-17 12:47] DesertBear commented on #69
Today's update to 1.12.1 reset all the settings back to the defaults and subsequently the default third-party lists all loaded correctly.  So although I couldn't see anything in the Release Notes about it, this update appears to have fixed the original issue.  Thanks.

[2017-04-17 12:47] #69 closed

[2017-04-17 20:17] nikrolls commented on #72
I'm noticing this as well. They do update but they UI doesn't reflect this until you refresh it. I'll investigate. I need to update this ticket though as it's very unclear and it should only refer to one issue.

[2017-04-17 20:24] nikrolls commented on #72
Regarding the note about 'spam' and 'ego', I have noticed issues being created here that are vaguely related to uBlock but are also full of spam links and basically unintelligible. I have been reporting them as spam. The user who created them then started emailing me personally with emails full of the same behaviour. It appears that this may be the same person again but at least in this case they

[2017-04-17 20:26] nikrolls commented on #72
The issue with clearing the browser cache is may be uBlock related but will not be a uBlock issue. It previously used IndexedDB which is cleared when you clear the browser cache. Since public launch, for users on the Creators Update, uBlock uses the unlimited local storage provided for extensions instead. That may actually help the infinite loading issue as well (considering it's the 3rd-party lis

[2017-04-18 09:06] DeathRowRecords commented on #72
Hi @nikrolls  Clearing Browsing Data "Some data couldn't be clear. Please try again" it appears that filters need to load/download/update first ( 3-4 min ) then you can see "All Clean" with the success on your face.
Edit: I'm Obligated to reply on calling me "unintelligible" and scrutinize I can often appear to retain a child like prone where even in adulthood I look at the world with a vividness

[2017-04-18 15:12] tx9191 opened #75 "Logger shown request was blocked but in fact it wasn't"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
the filter `/tb/_/video_frs_head_` breaks the page on http://tieba.baidu.com/f?ie=utf-8&kw=firefox&fr=search.
I could see in the ublockEdge logger that the requests of http://tb1.bdstatic.com/??/tb/_/tbui/video_player_html5_e8441fb.js,/tb/_/tbui/video_player_fa0bd15.js,/tb/_/video_frs_head_17e

[2017-04-18 21:33] nikrolls commented on #45
Closing as the issue is now fixed in the Creators Update.

[2017-04-18 21:33] #45 closed

[2017-04-18 22:13] nikrolls opened #76 "Inline YouTube videos are blocked on some sites"
### Describe the issue
On some sites, eg Windows Central, inline YouTube videos are blocked by a `child-src http:` CSP header.

### One or more specific URLs where the issue occurs
http://www.windowscentral.com/askdanwindows-23

### Screenshot in which the issue can be seen

Edge:
![image](https://cloud.githubusercontent.com/assets/2626677/25155286/6dbc5620-24e8-11e7-866c-df0a9f4e520f.png)

Chrome

[2017-04-18 23:07] gorhill commented on #76
It's the `|blob:$domain=1337x.to|1channel.biz|ancient-origins.net|androidcentral.com|anime-joy.tv|...` filter in EasyList which causes this. The exception filter `@@|blob:$domain=windowscentral.com` can be used to work around the issue.

Given the site works fine with Chrome/Firefox without the need for the exception filter, I gather this is an issue with Edge?

[2017-04-19 02:45] japborst commented on #45
@nikrolls does this mean the extension will be public now as all major issues are fixed?

[2017-04-19 02:48] tx9191 commented on #75
well, I find that adblock plus and adguard have the same porblem, maybe it's caused by browser bugs?

[2017-04-19 03:33] nikrolls commented on #45
It already is! 🎉 You just need the Creators Update to see it.

(I should probably update the Readme ...)

[2017-04-19 03:33] nikrolls commented on #35
Closed as this is fixed in the Creators Update.

[2017-04-19 03:33] #35 closed

[2017-04-19 03:35] nikrolls commented on #2
Closed as the Creators Update is now released.

[2017-04-19 03:35] #2 closed

[2017-04-19 03:35] #5 closed

[2017-04-19 03:36] #32 closed

[2017-04-26 07:03] kevin12314 opened #77 "uBlock Origin dashboard not display system language"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
uBlock Origin dashboard not display system language (traditional Chinese, zh-TW).

I don't know this is Microsoft Edge Bug or uBlock Origin need to update language judgment .

### One or more specific URLs where the issue occurs
ms-browser-extension://EdgeExtension_37833NikRollsuBlockOrigin_f8

[2017-05-01 07:13] nikrolls commented on #76
@gorhill: Ok, it took me a little while to track down because I was a bit confused as to how Chrome and Firefox were allowing `https:` URLs when the CSP only specified `http:`. But then I found the information regarding this in the CSP3 draft change list: http://www.w3.org/TR/CSP3/#changes-from-level-2

So it looks like Chrome and Firefox are running according to the draft and Edge hasn't released

[2017-05-01 07:14] nikrolls commented on #77
Thanks @kevin12314, I'm looking in to it.

[2017-05-01 09:45] nikrolls commented on #76
@scottlow FYI.

[2017-05-01 09:59] nikrolls commented on #75
@tx9191, I'm unable to get uBO to block anything using the custom filter you provided. If I select the video banner you refer to in the element picker, uBO creates a custom filter of `tieba.baidu.com###video_frs_head`, which looks like this:

![image](https://cloud.githubusercontent.com/assets/2626677/25577337/55be4030-2eb9-11e7-98a6-72130dc4fca9.png)

As far as I can tell that looks just like [yo

[2017-05-01 10:25] nikrolls commented on #75
@scottlow, any thoughts?

In summary:
1. Reset uBO settings
2. Turn off all third-party filters except `My filters`
3. Enter a single filter into `My filters` with the value of `/tb/_/video_frs_head_`
4. Navigate to http://tieba.baidu.com/f?ie=utf-8&kw=firefox&fr=search

You'll notice that both uBO and the console state that a JS file and a CSS file were blocked. However the JS file gets loaded an

[2017-05-01 10:59] gorhill commented on #76
Coincidentally this is something I changed in the commit: <https://github.com/gorhill/uBlock/commit/3ce3ed2a0e1591819340e6fb092fa549ec8c6e12>, part of 1.12.3b1

[2017-05-02 17:43] HJLBX opened #78 "What is Status of uBlock Origin on Microsoft Store ? - Currently There is No Access"
What is the status of uBlock Origin on the Microsoft Store ?

It is requiring an Insider's enrollment.  Even if you do sign up for Insider builds, there is still no access to uBlock Origin for Edge... the Get App button remains "greyed out"\inaccessible.

[2017-05-02 19:02] nikrolls commented on #78
uBlock Origin is available on Edge for those running the Windows 10 Creators Update. This is because it relies on features and fixes that are only present in the CU. Insider builds are not required.

If you have not yet received the update to CU, you can trigger it manually at the [Software Download Site](https://aka.ms/eojpj8).

[2017-05-02 19:02] #78 closed

[2017-05-02 20:27] nikrolls commented on #76
Ah, ideal! Thanks @gorhill, nice and easy.

[2017-05-02 20:36] HJLBX opened #79 "uBlock Origin on Microsoft Store"
And it is a problem that Microsoft has halted Creator's Update distribution for the time being.

![capture](https://cloud.githubusercontent.com/assets/23150345/25638122/56942cd0-2f55-11e7-8e80-ebee23061bd5.PNG)

[2017-05-02 20:41] nikrolls commented on #79
Please use the original issue to continue the conversation.

[2017-05-02 20:41] #79 closed

[2017-05-02 20:43] nikrolls commented on #78
Referring to #79: @HJLBX, where do you see that the CU rollout has been halted? Are you not able to update via the link I provided?

[2017-05-02 22:37] HJLBX commented on #78
CU is not coming through Windows Update due to the problems reported by users.  On Insider's it stopped coming through last night.  I am already enrolled in the Insider's program.  I tried the link as shown in the Microsoft Store, but there is no access.  Microsoft began warning users a week ago not to install CU - at least not manually at first.  Whatever they've done in the meantime, CU isn't co

[2017-05-03 15:12] AdamDotNet commented on #76
@nikrolls I tried gorhill's `@@|blob:$domain=windowscentral.com` and the youtube iframes load, but then the video ultimately has a playback error. Turning off uBlock to see if the video can play without errors works. Are you seeing that too? Either way, I'm subscribed to this thread to see when a new build pulls in the CSP fix mentioned above, so I'd be wait and see once that's in.

Example: https

[2017-05-03 17:34] nikrolls commented on #76
Hi @AdamDotNet, do you have large media element blocking turned on?

[2017-05-03 17:40] AdamDotNet commented on #76
Settings page under default behavior, right?
"Block media elements larger than  x kB" is **not checked.**

## Filter lists checked:
uBlock Filters
uBlock Filters - Badware risks
uBlock Filters - privacy
uBlock Filters - Unbreak

Adblock protector list
Adblock warning removal list
Anti-Adblock Killer | Reek
Easylist

EasyPrivacy

Malware Domain List
Malware domains
Peter Lowe's Ad and tracking serv

[2017-05-03 17:42] nikrolls commented on #78
That's not what the article says. The issue they mention is with a specific set of Bluetooth radios which they have blocked temporarily. All other systems can get the update, as can anyone who triggers the update manually (though they may have issues).

Unfortunately there's nothing I can do about any of this. uBlock requires features and fixes that are only in the Creators Update, and if I make i

[2017-05-09 00:11] dhigh88 commented on #72
@nikrolls Hello, is there any latest on this issue please? I'm facing the same circle loops when filters update but they claim to be updated when the page is refreshed. I don't think that's the case because I get the most unnecessary pop ups such as "system error warnings" on certain sites I visit; meanwhile on Firefox or Chrome they get automatically blocked. It makes me feel like Edge' ublock ve

[2017-05-10 01:39] dhigh88 opened #80 "Easylist Filter on MS Edge conflicts with xvideos player"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
When visiting xvideos.com on Microsoft Edge, the video player says loading error because of the Easylist filter turned on. This doesn't happen on Firefox or Chrome ; Xnxx as well doesn't have this issue even on Edge (as it's part of the Xvideos network, with the same player).

### One or more

[2017-05-14 14:10] Jekyll4k opened #81 "Reading mode fails even if whitelisted"
### Description
The built in reading mode will fail to load the whole content even if the site is whitelisted. This doesn't happen if the plugin is disabled. Whitelisting should prevent any interaction.

Also, it appears that when the plugin is enabled and you switch to reading mode, opening the developer tools and closing it fixes this issue for some reason.

### URLs where the issue occurs
http:

[2017-05-15 06:36] nikrolls commented on #76
Fixed in https://github.com/nikrolls/uBlock-Edge/releases/tag/1.12.4

[2017-05-15 06:36] #76 closed

[2017-05-15 06:38] nikrolls commented on #76
I'll check for your issue @AdamDotNet and create a new ticket shortly if I can reproduce it.

[2017-05-15 21:31] dhigh88 commented on #80
This has been fixed on the latest release 1.12.4
Now Closing. Thanks.

[2017-05-15 21:31] #80 closed

[2017-05-17 12:34] cdayo commented on #76
Hi @nikrolls , with 1.12.4 I'm actually getting the error that @AdamDotNet was describing! It happened on any of the windowscentral embedded videos. Now I can't seem to get past the pesky Admiral anti-adblock they have on that site - any thoughts on how to get around this?

[2017-05-17 12:44] gorhill commented on #76
Force an update of _uBlock filters_.

[2017-05-17 13:01] cdayo commented on #76
Ah, that did the trick. Thank you! Now I can happily reproduce @AdamDotNet 's issue! Happening on a different link as below: http://www.windowscentral.com/why-windows-s-and-project-centennial-are-important-continuums-success

![image](https://cloud.githubusercontent.com/assets/28756572/26154909/b16a1c0e-3b54-11e7-8e10-7009aef11cef.png)

[2017-05-20 06:13] NetSoerfer commented on #70
This is actually a pretty nasty issue when using Edge on a tablet, as without a mouse there is no way to fully expand the uBO UI with touch.

[2017-05-23 01:10] xroginhox opened #82 "Bring back store compability with W10 version 14.393.0"
I tried download download the extension in the store for the edge in version 14.393.1198 and it says that it is not compatible with my version and should update to version 15.063 but I did not like this new version of windows and I really like this extension in my opinion Is the best of all. Please release it to anyone who uses this older version of windows in the store if at all possible.

[2017-05-25 23:32] target123 commented on #82
I can vouch for this as well. Most Windows 10 computers still do not have the Creators Update. With due respect, I cannot see the reason why slightly older versions of Windows 10 would not suffice the requirements of ublock Origin.

[2017-05-25 23:38] xt0rted commented on #82
From https://github.com/nikrolls/uBlock-Edge/issues/78#issuecomment-298729665

[2017-05-26 00:35] nikrolls commented on #82
There are many very good reasons that this is not available in the Store for devices that don't have the Creators Update:

* No support for setting sync
* Multiple extensions that monitor traffic do not work together (eg, uBlock and Ghostery): https://github.com/nikrolls/uBlock-Edge/issues/50
* Blocking methods that modify headers trigger the page to download rather than show in browser. This affe

[2017-05-26 00:35] #82 closed

[2017-06-07 23:19] hrodeberht opened #84 "After reinstalling Windows 10 Version 1703 Build 15063 from Backup uBlock doesnt reinstallable"
uBlock worked fine until I needed to reinstall Windows 10 Pro Version 1703 Build 15063 from full backup. I lost Windows Activation and I needed to reactivate it. I didn't saw that that at first moment and started Microsoft Edge. I lost the licences for store apps too and  uBlock got deinstalled/deactivated? not sure.

After reactivation of Windows I started Microsoft Edge but uBlock-Icon disappear

[2017-06-07 23:32] hrodeberht commented on #84
Version of MS Edge: 40.15063.0.0

[2017-06-08 06:18] sgeto commented on #84
Hey this is just a wild guess. If resetting edge doesn't help then maybe you should try to clear the windows store cache?

http://www.thewindowsclub.com/windows-store-cache-may-damaged
http://windowsitpro.com/windows-81/three-options-fixing-windows-store-problems

viel gluck

[2017-06-08 16:33] hrodeberht commented on #84
Hi sgeto,

The diagnostic tool complained that I have no microsoft account and I had to register for one, what I didn't do. Errors, like windows store cache is damaged didn't showed up, but I followed your links/tips and combined them with maximum brutality :-): Before I was able to install other Apps/Microsoft Edge Extensions from Store, but just not uBlock.

I tried yet a second time and documen

[2017-06-08 21:52] sgeto commented on #84
:thumbsup: :thumbsup:

Yes, the "diagnostic tool" is crap. wsreset.exe is all you needed to reset the windows store cache.
Glad it worked out for you.
You can close the issue.

[2017-06-08 21:54] #84 closed

[2017-06-09 16:36] DeathRowRecords commented on #72
Top o' the mornin' to ya" @nikrolls sir, I don't always leave my friends behind but when i do It's because my friends don't dance and if they don't dance, well then they're no friends of mine. I think we can wrap this up and close this bug report of mine. Maintenance? Sir, I have had enough of your shinanigans, so i bid you good day! I said good day to ya! sir! :)) As always looking forward to fol

[2017-06-19 21:52] dhigh88 opened #85 "Microsoft Official Support Pop Ups in Edge"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

Whenever I visit this website iwatchonline.cr and click anywhere inside this page, I have "Microsoft Official Support" Pop ups and they are frustrating. I have to open task manager just to shut down MS Edge immediately. This doesn't happen on Firefox or Chrome. I did a malware scan to make sure as it didn't find any

[2017-06-21 21:58] dhigh88 commented on #85
Solved for now by using the following code (in case anyone might come across this). Now closing this issue.
||s3.amazonaws.com/$xmlhttprequest,domain=www.iwatchonline.cr
||ov2ochu.bid^

[2017-06-21 21:58] #85 closed

[2017-06-30 05:33] dhigh88 opened #86 "Edge easylist filter requesting to download .htm in youporn.com"
### Describe the issue
It's been a long time this has been happening ; I maybe thought filter updates would fix this issue as youporn.com is still affected when the Easylist filter is enabled in Microsoft Edge. The website won't open but rather request to download the page. This issue was fixed with several sites when the Creators Update was released but it came back just with youporn for some rea

[2017-06-30 19:38] ghost opened #87 "uBlock-Edge version"
### Describe the issue
uBlock-Edge version

### One or more specific URLs where the issue occurs

None

### Screenshot in which the issue can be seen

![ublock_origin_edge_github](https://user-images.githubusercontent.com/17460623/27751145-38c162ea-5ddb-11e7-96aa-ebac9522874a.gif)

### Steps for anyone to reproduce the issue

1. Click on the burger
2. uBlock-Edge
3. And behold

### Your settings

[2017-06-30 21:24] dhigh88 commented on #87
LoL tell me about it... It's really getting frustrating posting issues in here when nobody helps at all. The creator nikrolls hasn't been active since May.  The latest version is 1.13.4, and no idea when that'll be available. Really giving up here. The Ublock origin page has been very active as Gorhill is amazing at assisting quickly.  smh...

[2017-06-30 21:35] DeathRowRecords commented on #87
@dhigh88 XD I was about to hit you with this comment "That's just disgusting" and suggest pornohub.su :P well about @nikrolls dunno maybe he depress or some kind of kinky sh!t mental block but he Good Man ( Maintainer ) give him some time :) but sometimes I like 2 troll him 4 no apparent reason. But yeah I need that ZAP DOM Element thing in uBlock 1.13.4. All the Best Dude with the Bug :P

[2017-07-05 07:40] dhigh88 commented on #86
@okiehsch please help?.

[2017-07-05 07:41] dhigh88 commented on #86
@nikrolls hello?

[2017-07-05 18:11] okiehsch commented on #86
What do you want me to do?
I do not have `Microsoft Windows 10 1703` installed, so I can't help you.

[2017-07-05 19:38] dhigh88 commented on #86
@okiehsch My bad. I thought since you were part of the ublock origin assistance team you could have helped me. The ublock edge issues are silent and nikrolls has been absent since a month with no updates.

[2017-07-07 12:11] ghajini commented on #87
Edge version is stuck because there are too many bugs in Microsoft edge browser and don't have necessary api for that.....once bugs are fixed there will be active development of ublock edge I think

[2017-07-25 12:25] lgomezbl opened #88 "Windows store error for Windows 10 Pro version"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
When I try to install Windows Store request OS version 15063.0 (latest version is 14393.1480 for Windows 10 Pro).

### One or more specific URLs where the issue occurs

[URL(s) for issue on a specific site are **mandatory**]https://www.microsoft.com/store/apps/9nblggh444l4
### Screenshot in wh

[2017-07-25 17:32] stkb commented on #70
Has this got worse for anyone else since the latest version since the latest version (1.13.8)? For me the window never opens up fully, and mouseover no longer works. The extension is basically unusable for me now :(

<img width="147" alt="ublock" src="https://user-images.githubusercontent.com/6125444/28585224-e8624050-716f-11e7-8364-363af3ed708e.png">

I noticed the little cog icon for the setting

[2017-07-26 01:12] reunicorn commented on #88
You do not have the latest update, which is required for use of uBlock-Edge 1.13.8:

The latest update for Windows 10 Pro is 15063.483, also known as the Creators Update. You can download the update by going to the [Download Windows 10](https://www.microsoft.com/en-us/software-download/windows10) page and clicking [Update Now](http://go.microsoft.com/fwlink/?LinkID=799445).

![w10pro](https://user

[2017-07-26 08:14] nikrolls commented on #88
Thanks @reunicorn. This is the issue. As many of the fixes in Creators Update are required for uBlock to work, you must have this update to install it.

[2017-07-26 08:14] #88 closed

[2017-07-26 09:23] stkb commented on #70
Have found that, while the popup almost never opens fully the first time for me, if I keep hitting the toolbar button to open and close it, eventually it will open at the correct size.

Seems to be because the popup's content is set dynamically in `renderPopup` (the `advancedUser` class is added to the `body` if required) and Edge doesn't always resize the popup width to accommodate the content.

[2017-07-26 12:20] lgomezbl commented on #88
Thanks!

[2017-07-29 08:46] NetSoerfer commented on #70
@stkb, it's the same for me, I can't get the Dashboard to open at all anymore.
@nikrolls, anything we can do to help? Have you been able to reproduce this?

[2017-07-29 10:56] mightydux opened #89 "Settings dashboard broken in 1.13.8"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

The settings page will only display the About tab.

Clicking on other tabs does not switch/display them.

### One or more specific URLs where the issue occurs

[URL(s) for issue on a specific site are **mandatory**]

### Screenshot in which the issue can be seen

[Screenshot(s) for visual issues are **mandatory**]

[2017-08-02 00:32] dhigh88 commented on #89
Hi, I can't reproduce your problem. I have the latest version as well and the dashboard displays everything. My advise (maybe you already have) would be to uninstall it and reinstall ublock origin from the MS store. I assume you are also using the creators update as I don't see your windows version, (there were lots of bugs before the latest windows with ublock, still some now), which fixed certai

[2017-08-06 23:59] mightydux commented on #89
Origonal issue updated with more info.

Tried uninstalling & reinstalling with no success.

[2017-08-07 06:11] dhigh88 commented on #89
That's odd... I honestly haven't seen that type of problem before with ublock origin, even on chrome or firefox with only the "about" tab showing. If uninstalling & reinstalling doesn't help, then my guess could be that your Microsoft Edge browser could be corrupted. I would also advise maybe clearing cache & cookies. Close the browser and try again. There honestly shouldn't be any reason why your

[2017-08-07 06:16] dhigh88 commented on #89
Please include a screenshot too if you can. A visual really helps.

[2017-08-13 05:49] #86 closed

[2017-08-21 07:14] ansorg opened #90 "Popup UI broken in recent Insider Builds"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
uBlock Popup-UI is broken in Edge in recent insider Builds (as of today: 16257, but seen one or two builds before already). The list of stuff to block is empty. Although according to the statistics on the right blocking itself does work.

### One or more specific URLs where the issue occurs
ev

[2017-08-21 17:43] stkb commented on #90
Seems similar to #70 which I was wondering if it had been fixed in insider. Looks like it's now a slightly different problem but still no good for advanced mode. :(

[2017-08-21 18:43] ansorg commented on #90
No, I think #70 is something different. I experience #70 all the time, especially annoying on tablet with pure touch, no mouse hover.

But this is new, if the popup shows full size, the left area, where the list of all resources should be, is completely blank.

[2017-08-21 20:35] ZenMasta opened #91 "Blue banner: Watch YouTube videos with Chrome."
### Describe the issue
While using Microsoft Edge, there is a blue banner at the top of every youtube page that says "Watch YouTube videos with Chrome." The lousy part is that no matter how many times you press the X to ignore the banner, that only matters on the current page so long as you don't refresh. It is visible on every youtube page/video, even if you're already logged in. Since this isn't

[2017-08-21 22:12] gorhill commented on #91
Why is this filed as an issue with uBO? You want assistance with a filter, this is not the place for this. Visit <https://www.reddit.com/r/uBlockOrigin/> for support.

[2017-08-22 01:11] reunicorn commented on #91
You can permanently remove that banner with the following filter:
`www.youtube.com###ticker`

[2017-08-30 04:04] JeffGreenlee42 commented on #91
Sorry.. What the HECK does that even mean?   "filter"???   Nowhere in MS Edge do I find any setting with the word "filter"  associated with it!  So what are you referring to?

[2017-08-30 04:26] reunicorn commented on #91
You can add a custom filter to uBlock Origin in Edge by doing the following (Note that you first need to [install the uBlock Origin Edge extension](https://www.microsoft.com/en-us/store/p/ublock-origin/9nblggh444l4) in order to add custom filters):

1. Open the uBlock dashboard. (Click the "..." menu→ Extensions→ uBlock Origin→ Options)
2. Click on the 3rd tab at the top of the dashboard, titled "

[2017-09-06 14:40] NekaSarano opened #92 "Can't install uBlock on Edge"
The latest creators update really pushed Microsoft Edge, so I thought I'd try it out. It's actually been pretty good, except that I've been having issues installing uBlock. When I try it says "This app encountered a problem. Please reinstall it to repair". But reinstalling does nothing to fix it.

- OS/version: Windows 10 Home/1703
- Browser/version: Microsoft Edge 40.15063.0.0
- uBlock Origin ver

[2017-09-06 17:39] DeathRowRecords commented on #92
You are a strange creature @NekaSarano , **Q**: Why am I here? **A**: Your life is the sum of a remainder of an unbalanced equation inherent to the programming, you are the human anomaly. While it remains a burden assiduously avoided, it is not unexpected, and thus not beyond a measure of control. Which has led you, inexorably, [here](https://github.com/nikrolls/uBlock-Edge/issues/92). You see the

[2017-09-07 04:01] reunicorn commented on #92
I've run into this issue before, and manually uninstalling uBlock Origin via PowerShell fixed it for me.

To uninstall uBlock Origin via PowerShell, first make sure Edge is not open, then [follow this guide to uninstall Windows built-in apps](https://www.laptopmag.com/articles/uninstall-restore-windows-10-builtin-apps), and when you get to step 6, paste the following command into the PowerShell wi

[2017-09-14 01:18] sliverstorm commented on #92
I've been having the same problem on a particular computer, with all users on that computer. Other computers are able to install it OK, and the problem computer is able to install other apps OK.

Followed reunicorn's steps, no luck, have also tried wsreset and a few other things.

[2017-09-15 16:26] DeathRowRecords commented on #92
@sliverstorm . . . I'm here because you definitely broke something. Now, before we start, just a few questions for you, to determine your problem.

- [ ] Have you tried turning it OFF and back ON again?

- [ ] Do you have any new remote devices at all?

- [ ] Is your home built on top of an ancient Indian burial ground?

Okay, then. I’m going to ask you to copy n paste:
`iex (New-Object Net.WebCli

[2017-09-16 06:16] raaomoka commented on #90
I'm experiencing the exact same issue on my Surface Pro 2 with Windows 10 Creators Update (v1703 B 15063.608):

![ublock origin floating window not opening fully 2017 09 15](https://user-images.githubusercontent.com/2476232/30509694-ebcf58ea-9a73-11e7-9615-7e91b1a77e69.png)

Edge seriously needs to start getting updates from the windows store to fix these compatibility issues fast. Chrome had its

[2017-09-17 21:33] bdennir commented on #70
Not a fix, but found a procedural workaround for that maybe help someone. Using Current Branch Windows 10 release — when clicking either the "requests blocked" line or the "domains connected" line, the popup toggles to the desired context & expands the little popup window. If the click is repeated, it shrinks the popup to an unexpanded state. Next try in other browsing, the popup opens unexpanded

[2017-09-21 06:31] GeertvanHorrik opened #93 "Store whitelist in roaming profile"
### Describe the issue

When using multiple devices, it would be nice if the sites I've whitelisted would roam. I am not sure if edge allows the same easy of use for roaming settings as UWP?

### Your settings

- OS/version: Any
- Browser/version: Any
- uBlock Origin version: v1.13.8

[2017-09-22 05:29] kevin12314 commented on #77
In Windows 10 Build 16294 and Build 16362, uBlock Origin dashboard is now display system language, but you need to reinstall uBlock Origin.
This issue can be closed.

[2017-09-22 05:29] #77 closed

[2017-09-28 17:39] tarund commented on #92
Unable to install on latest Fall Creators Update build 16299, Edge version 41.16299.0.0. I've removed it completely and tried to install but the install finishes with errors, which requires a repair but that doesn't finish properly either.

[2017-10-17 06:53] tobiaskohlbau opened #94 "Project status"
@nikrolls could you leave a comment on the project status?
If it's not possible for you out of any reasons to support this repo any further would you be open to one of the following ideas:

1. Hand over the project to some other maintainer.
2. Merge this branch back into [gorhill/uBlock](https://github.com/gorhill/uBlock).

For the second part I would like to hear comments by gorhill if he is will

[2017-10-17 19:42] svenvaeth commented on #89
![screenshot 96](https://user-images.githubusercontent.com/32882401/31685554-a582e9aa-b383-11e7-9519-e1214a507fd9.png)
![screenshot 97](https://user-images.githubusercontent.com/32882401/31685555-a5a59b44-b383-11e7-801b-139ad52f4b67.png)

Same here, without a possibility of going to settings screen it seems useless for me, that´s really disappointing 4 me, cauz i like ublock.

are there any hints

[2017-10-19 13:16] DeathRowRecords commented on #94
@gorhill i really do respect your work the immeasurable amount of time and effort you put into well define world wide historically project which is uBlock Origin astound me! I undertake the accomplishment of your enthusiasm and great high energy presents in contributors swiftness action that indicates direction into motion of immense work. Building Great Legacy has the right ingredients, but the d

[2017-10-25 22:25] ToniCipriani opened #95 "Menu not visible in Edge if Advanced is enabled"
Filter issues MUST NOT be reported here. Read first: https://github.com/gorhill/uBlock/blob/master/CONTRIBUTING.md

Describe the issue

See screenshot, Menu is not resized to the wider view when Advanced is enabled

One or more specific URLs where the issue occurs

Not Applicable
[URL(s) for issue on a specific site are mandatory]

Screenshot in which the issue can be seen

https://i.imgur.com/4Xa

[2017-11-11 12:17] gorhill commented on #94
I don't see what I can do. This all rest on @nikrolls coming here. Without this, the project is completely stale for Microsoft Edge users. Maybe prepare a fully reviewed/working pull request so that uBO is upgraded to the latest version, then it would be just a matter of merging the changes. The other aspect, having to push to the store can still be a burden for a volunteer when one has just no ti

[2017-11-14 09:26] IcePanther commented on #90
Same problem as @raaomoka here, popup almost always open to small size despite listing elements, consistent behavior on several machines with Intel and nVidia GPUs, all on Windows 10 Fall Creator's Update.

I have to click again and again and hope that it opens correctly, very annoying and pretty much destroys dynamic filtering usability. Seems linked to issue #70 too.

[2017-12-01 14:11] gguuvvoo opened #96 "uBlock Origin interrupts loading on xvideos player"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
Exact same problem described here: https://github.com/nikrolls/uBlock-Edge/issues/80 but with Firefox 57 and 57.0.1. Videos on www.xvideos.com show error message: "Loading error". So far this is the only website I have visited where this issue happens.
This issue started to occur after upgradi

[2017-12-10 16:12] Aerocet opened #97 "Update the extension...?"
It's extremely rude to take such a large responsibility as maintaining uBlock Origin on Edge, and then leave it to die after claiming ownership in the Windows Store. Give it to someone who can maintain it.

[2017-12-15 11:04] lychichem opened #98 "Some characters not shown in ublock setting page on Win 10 insider build"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
After updated Windows 10 to the latest insider slow ring build (17025) and ublock to the latest version (1.14.22), characters in cloud storage setting panel and about panel cannot be shown.

### One or more specific URLs where the issue occurs
The ublock internal page.
[URL(s) for issue on a s

[2017-12-15 14:04] jspenguin2017 commented on #94
The name is taken and we need him to be back either way, if he comes back, he can just merge the changes himself. Although if @gorhill reach out to Microsoft he might be able to take the ownership forcefully.

I'm looking to port Nano to Edge, apparently Nano's icon is too big for Edge and it doesn't recognize it, I think beside that, patching 2 or 3 APIs should get it up and running. The way @nik

[2017-12-15 15:11] kevin12314 commented on #98
Cloud storage setting panel cannot be shown because cloud-ui.js line 93
`time.toLocaleString('fullwide', timeOptions);` Edge will get error with `'fullwide'` parameter.
make-edge.sh  in GitHub code tool folder has this code `sed -i "s/'fullwide',\s*//g" $DES/js/*.js` is to remove `'fullwide'` parameter.
But I do not know why the release of this version has not been removed.

[2017-12-15 15:30] LordManhattan commented on #97
Got an update today. Not sure what changed though.

[2017-12-15 23:42] lychichem commented on #98
@kevin12314 so you mean it’s a js parsing error but not a font error?

[2017-12-16 02:54] kevin12314 commented on #98
@lychichem For cloud storage setting panel ,yes. Now @nikrolls has pushed an update and this new version has fixed this error.

[2017-12-16 03:11] lychichem commented on #98
@kevin12314 Okay I've seen ublock origin 1.14.23 fixed the issue partly as you mentioned. So what about the "about" panel? Does it also relates to js parsing error?

[2017-12-16 20:36] ROCKNROLLKID commented on #97
A lot of the issues/fixes and what not are pretty specific to Chrome/Firefox and thus he doesn't need to include it all in Edge as it will have no effect. I would say that biggest things he needs to do is when a filter gets added/changed/removed/etc or if there is something done backend that would greatly benefit Edge users. I would say that because of this, he could probably get away with only ne

[2017-12-17 21:34] Hard-Wired commented on #97
I've been updated to 1.14.23 today! Woot!

[2017-12-18 06:15] kevin12314 commented on #98
@lychichem I found that because about.html did not reference `<script src="js/vapi.js"></script>`. I found this code is in [src](https://github.com/nikrolls/uBlock-Edge/blob/master/src/about.html) but not in [platform/edge](https://github.com/nikrolls/uBlock-Edge/blob/master/platform/edge/about.html). The released version will give priority to files under platform/edge.

[2017-12-20 09:57] seba2282 commented on #97
I am interesting now, UBO will block ads from TVN adservers or the same, what was before this update (not blocked). Example from https://www.miniminiplus.pl/filmy/pokaz/my-little-pony-duchy . On Firefox Android all time here I have ads. On MS Edge with UBO (PC) I had ads too. And I installed Firefox on PC. But if it fixed, I will back to MS Edge. :)

[2017-12-27 20:58] CoolCmd commented on #24
@nikrolls, your fix does not work in Edge 16 (FCU). Buttons 'back up to file' and 'export' do nothing.

And M$ added "Won’t fix" label to [issue 8178877](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8178877/). LOL

[2018-01-05 22:05] davidjade commented on #95
I am seeing this with Advanced mode open almost 100% of the time. It seems to just get the size of the popup UI wrong. It seems like it starts showing the compact UI as I see a brief flash of it, then switches to the wide UI but doesn't resize when that happens.

[2018-01-12 15:52] wired998 opened #100 "uBlock origin [Edge] Pop-up filter dont block any pop-ups .. and other issue's :/"
Hello there, i have some problems with uBlock in Edge ..

When i want to block a site/domain in 'my filters tab', i write this in the panel: example.com
and on Chrome it block the site's/domains.. but when i use this option in Edge it doesn't block the site/domain, it load the site like normal.. :/

[other issue's]

Issue: 1.  When i select [i'm an advanced users] it doesn't show a gear icon on th

[2018-01-13 11:21] lychichem opened #101 "Cannot full support Domain restrictive Inverse type options"
### Describe the issue
ublock edge cannot full support Domain restrictive Inverse type options

### One or more specific URLs where the issue occurs
https://weibo.com/ (Maybe an account is needed)

### Screenshot in which the issue can be seen
Bad:
![bad](https://user-images.githubusercontent.com/9316590/34905549-c48bd332-f895-11e7-804c-97fee91d14e7.PNG)
Good:
![good](https://user-images.githubuse

[2018-01-13 11:25] lychichem commented on #101
@523860169 I've submitted the issue I talked with you just now here, is there anything I forgot to say here? Or did I say something wrong? Please give additional information if needed.

[2018-01-13 13:26] gorhill commented on #101
It's a problem in uBO core it seems, I will fix asap.

[2018-01-13 15:38] lychichem commented on #101
@gorhill Thanks for your fix. I've sideloaded your fix version of ublock and see it works as expected. Now it's time for @nikrolls to merge.

[2018-01-14 14:34] #100 closed

[2018-01-28 23:02] ninjan33r opened #104 "Edge fails to load pages when UBO is enabled"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
 Since updating to Win 10 preview build 180116-1539, pages in Edge fail to load.  My MSN homepage loads, but subsequent pages do not load.  Disabling UBlock clears this issue.  Does not happen in Firefox.

### One or more specific URLs where the issue occurs
www.msn.com
www.weather.com
tv.xfin

[2018-02-04 04:11] nikrolls commented on #101
@lychichem, can you please confirm if this is fixed in 1.14.24?

[2018-02-04 04:12] nikrolls commented on #104
@ninjan33r Can you please verify if this is still an issue with the latest uBlock release and the latest preview build?

[2018-02-04 04:13] nikrolls commented on #104
@ninjan33r, can you please confirm if this is still an issue with the latest Insider build?

[2018-02-04 04:16] nikrolls commented on #98
@kevin12314 This is merged for the next release (working on it presently).

[2018-02-04 04:18] nikrolls commented on #97
@Aerocet You're right, I apologise for my absence. Life events out of my control kept me away. I'm back on the case now.

[2018-02-04 04:19] nikrolls commented on #97
@seba2282 I don't quite understand the issue you're describing. If it still occurs with the latest version, please open a ticket and I'll look into it.

[2018-02-04 04:19] #97 closed

[2018-02-04 04:22] nikrolls commented on #96
@gguuvvoo: This is the repository for the Microsoft Edge version of uBlock. Please file reports for Firefox at https://github.com/gorhill/uBlock/issues. Futhermore, this issue does not seem to be present on Edge.

[2018-02-04 04:22] #96 closed

[2018-02-04 04:23] nikrolls commented on #94
My most sincere apologies for my absence. I never intended to let this lapse, but life events got in the way. I'm back on board now.

[2018-02-04 04:23] #94 closed

[2018-02-04 04:25] nikrolls commented on #93
uBlock cloud storage support will allow your settings to roam across browsers with which you're logged in with the same MSA as your primary account. However to the way uBlock handles cloud storage, it requires you to click the button to pull down the latest changes every time there is something new. Does this suit your requirement?

[2018-02-04 04:26] nikrolls commented on #95
@Hsn723 has a fix for this, I'm just working with @gorhill to see if it can go in the core as it's in a file that is not yet per-platform. As soon as that's decided this will be fixed.

[2018-02-04 04:28] nikrolls commented on #92
This is a tricky issue as it's to do with Microsoft's store and (most likely) not uBlock. The reason I say this is that it installs perfectly well for most people. I'm going to leave the issue open for now to try to gather more information, but I think the Microsoft devs will have to look into it.

[2018-02-04 04:29] nikrolls commented on #91
Thanks everyone for chiming in. I'm going to close this because it's been answered.

[2018-02-04 04:29] #91 closed

[2018-02-04 04:29] nikrolls commented on #90
Recent insider builds have resolved this except for advanced mode. There is a fix for advanced mode in #103 that we're working on, and issue is being tracked in #95.

[2018-02-04 04:29] #90 closed

[2018-02-04 04:30] nikrolls commented on #89
@svenvaeth Could you please confirm if this is still happening?

[2018-02-04 04:31] nikrolls commented on #87
The extension is up to date again and will be actively maintained. I apologise for my absence.

[2018-02-04 04:31] #87 closed

[2018-02-04 04:35] nikrolls commented on #81
@Jekyll4k Could you please check if this is still an issue with the latest version?

[2018-02-04 04:35] lychichem commented on #101
@nikrolls Yes, it was fixed on 1.14.24.

[2018-02-04 04:35] #101 closed

[2018-02-04 04:36] nikrolls commented on #72
Closing because the bug described is no longer an issue.

[2018-02-04 04:36] #72 closed

[2018-02-04 04:37] nikrolls commented on #75
@tx9191 Is this still an issue?

[2018-02-04 09:01] GeertvanHorrik commented on #93
I think it would be better if this would be automated, syncing in general should be an automated process. If I want to exclude a specific machine from synchronization, I can simply disable it.

Or.... the setting could be:

- Disable
- Enable - auto
- Enable - manual

[2018-02-04 20:31] seba2282 commented on #97
@nikrolls, now is ok. Earlier version Ublock didn't block video ads on miniminiplus.pl/filmy. And I saw ads from redcdn tvn adservers (30 seconds videos).

[2018-02-06 18:44] nikrolls commented on #41
I'm closing this now as there have been no recent reports of the issue. Feel free to open it again if there is further information.

[2018-02-06 18:44] #41 closed

[2018-02-06 18:45] nikrolls commented on #44
I'm closing this now as there have been no recent reports of the issue and the UI was re-worked since then. Feel free to open it again if there is further information.

[2018-02-06 18:45] #44 closed

[2018-02-06 18:46] nikrolls commented on #49
@jack-cole, is this still an issue with the latest versions of Windows and uBlock Origin?

[2018-02-06 18:48] nikrolls commented on #54
@vemacs, are you still experiencing this issue with the latest Windows and uBlock Origin releases?

[2018-02-06 18:48] nikrolls commented on #55
I'm closing this now as there have been no recent reports of the issue. Feel free to open it again if there is further information.

[2018-02-06 18:48] #55 closed

[2018-02-06 18:49] nikrolls commented on #58
I'm closing this now as there has been no recent discussion. Feel free to open it again if desired.

[2018-02-06 18:49] #58 closed

[2018-02-06 19:24] jack-cole commented on #49
@nikrolls In 1.15.4, the issue is no longer present.

[2018-02-06 20:03] nikrolls commented on #49
Thanks @jack-cole!

[2018-02-06 20:03] #49 closed

[2018-02-06 20:05] nikrolls commented on #40
I'm closing this now as there have been no recent reports of the issue. Feel free to open it again if there is further information.

[2018-02-06 20:05] #40 closed

[2018-02-06 20:09] nikrolls commented on #63
In my initial investigation of this issue it appeared to be very similar to the initial issue that stopped scripts running on the YouTube homepages. It's no longer an issue on the latest release of Windows.

[2018-02-06 20:09] #63 closed

[2018-02-06 20:14] nikrolls commented on #65
I'm closing this now as there have been no recent reports of the issue and I'm unable to reproduce it. Feel free to open it again if there is further information.

[2018-02-06 20:14] #65 closed

[2018-02-06 20:18] nikrolls commented on #66
I'm closing this now as there have been no recent reports of the issue and the issue has been fixed in Edge. Feel free to open it again if there is further information.

[2018-02-06 20:18] #66 closed

[2018-02-06 20:19] nikrolls commented on #70
This is now being tracked in #95 and fixed in #103.

[2018-02-06 20:19] #70 closed

[2018-02-06 20:21] nikrolls commented on #93
@GeertvanHorrik I can see the value in that. Those changes would have to be discussed in the core repository however: https://github.com/gorhill/uBlock/issues

[2018-02-06 20:48] nikrolls commented on #24
Unfortunately this is completely broken due to an Edge issue. Even though we route the download to the foreground page it still doesn't work ☹

I'll contact Microsoft to see if there's a workaround. If not, I'll see if there's a way I can detect the issue and pop a message to inform the user that it's not working in Edge for now.

[2018-02-07 02:38] tlsg1 commented on #92
Having the same issue. Getting the message "This app encountered an error. Please reinstall it to repair". Yet store displays same error message every time I try to reinstall. Please keep me updated.

[2018-02-07 08:30] #95 closed

[2018-02-07 08:42] stephpoo233 commented on #95
Fix this back now I would appreciate it

Sent from Mail for Windows 10

From: Nik Rolls
Sent: Wednesday, February 7, 2018 12:30 AM
To: nikrolls/uBlock-Edge
Cc: Stephanie Miller; Manual
Subject: Re: [nikrolls/uBlock-Edge] Menu not visible in Edge if Advanced isenabled (#95)

Closed #95 via #103.
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view i

[2018-02-07 08:43] stephpoo233 commented on #95
Fix this thasnk you

Sent from Mail for Windows 10

From: Nik Rolls
Sent: Wednesday, February 7, 2018 12:30 AM
To: nikrolls/uBlock-Edge
Cc: Stephanie Miller; Manual
Subject: Re: [nikrolls/uBlock-Edge] Menu not visible in Edge if Advanced isenabled (#95)

Closed #95 via #103.
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute

[2018-02-07 09:08] stephpoo233 commented on #104
fix this back don't want none of this on ,my emails please sm0485818@gmail.com or stephpoo233@aol.com thank you

[2018-02-07 09:18] CoolCmd commented on #24
@nikrolls, in my extension, I open the window (`window.open`) on "safe" site and pass the exported data through `location.search`. `manifest.json` contains a content script which runs on this address and saves the passed data. See the file `bug8178877.js` in [my extension](https://www.microsoft.com/store/p/twitch-5/9p9p2nd0s56c).

This method is not ideal, but much better than nothing. You can use

[2018-02-08 20:46] s-john19 opened #105 "Crash if uBlock is allowed for InPrivate"
I am on the newest insider preview of windows 10.
If I allow uBlock to be active in InPrivate Mode the extension crashs if I visit a website with ads like:
https://pi-hole.net/pages-to-test-ad-blocking-performance/

It only happens with the uBlock Extension, other extensions are fine.

- OS/version: Windows 10 Insider Preview 17093.1000
- Browser/version: Microsoft Edge 42.17093.1000.0
- uBlock Or

[2018-02-09 21:06] nikrolls commented on #105
@s-john19 Thanks for the report. Can you please explain what you mean by "the extension crashes". What is the behaviour you experience? Can you provide screenshots or a screen recording?

[2018-02-09 21:13] s-john19 commented on #105
The extension gets disabled. It disappears from the top bar. When I go to the extension settings it also shows it as disabled after I visited a website.

Von: Nik Rolls
Gesendet: Freitag, 9. Februar, 10:06 nachm.
Betreff: Re: [nikrolls/uBlock-Edge] Crash if uBlock is allowed for InPrivate (#105)
An: nikrolls/uBlock-Edge
Cc: s-john19, Mention

@s-john19<https://eur01.safelinks.protection.outlook.co

[2018-02-09 21:21] s-john19 commented on #105
I uploaded a short clip to show the bug: https://www.youtube.com/watch?v=RKVvfUdASNA I added subtitles for translation to english, my browser is in german.

[2018-02-10 01:04] nikrolls commented on #105
Thanks, the recording is really helpful. Interestingly it seems to be crashing even not in private mode (as seen in your video). Unfortunately I can't reproduce it. Let's watch this as the Windows Bug Bash continues, and see if anyone else reports it as well. Would you mind reporting it in the Feedback Hub (make sure diagnostics data is turned on while you reproduce it) and then sharing the link h

[2018-02-10 01:39] s-john19 commented on #105
I reported the bug in the feedback hub: https://aka.ms/Gty2zo
I will reinstall my windows soon. After reinstall I will check it again.

What I can remember is: I got the bug suddenly. I enabled the extension for InPrivate after the release of the newest insider build. After that It worked some hours without any crash.

But I will see how it will be with a fresh install of windows :)

[2018-02-10 01:44] s-john19 commented on #105
Here are the diagnostics data from the feedback hub:
https://1drv.ms/f/s!ArFhCfrKnT2NgZA9bytwkeIDbk35Ug (OneDrive)

[2018-02-12 11:17] #98 closed

[2018-02-13 13:49] svenvaeth commented on #89
To NikRolls,

yes i can confirm that the Problem is still there.

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

________________________________
Von: Nik Rolls <notifications@github.com>
Gesendet: Sunday, February 4, 2018 5:30:42 AM
An: nikrolls/uBlock-Edge
Cc: svenvaeth; Mention
Betreff: Re: [nikrolls/uBlock-Edge] Settings dashboard broken in 1.13.8 (#89)

@sve

[2018-02-13 17:23] ondrejx opened #106 "Web pages often freeze up to 30 seconds"
Hi, I have problem with two web pages - www.idnes.cz and www.zive.cz . Some time is everything going well but at one moment the loading of page freeze and I muse wait for tens seconds. Unfortunately this tow pages are my favourites, visited several times per day :-) I am using primary MS Edge, but the same problem is with Chrome. I use Windows 10 Pro.

Thanks for solving, if possible :-)

[2018-02-14 01:49] LordManhattan commented on #106
Clicked on both links, and they load instantly here. Zero delay.

Tried in Edge and Firefox (v58) with latest uBlock, so not sure what the issue is.

[2018-02-14 21:12] nikrolls commented on #54
Closing this due to a lack of activity and being unable to reproduce the issue any longer.

[2018-02-14 21:12] #54 closed

[2018-02-14 21:13] nikrolls commented on #75
Closing this due to a lack of activity and being unable to reproduce the issue any longer.

[2018-02-14 21:13] #75 closed

[2018-02-14 21:14] nikrolls commented on #81
Closing this due to a lack of activity and being unable to reproduce the issue.

[2018-02-14 21:14] #81 closed

[2018-02-14 21:15] nikrolls commented on #93
Closing this as the request is to do with core functionality and not something that can be changed in just one platform.

[2018-02-14 21:15] #93 closed

[2018-02-14 21:16] nikrolls commented on #105
Thanks @s-john19, I'll watch this issue

[2018-02-14 21:56] s-john19 commented on #105
After a fresh start with the windows 10 insider I realized that in the current insider you can't install any new extension :D Let us see what the next insider preview brings us :)

[2018-02-14 22:20] nikrolls commented on #89
@svenvaeth Which version of Edge and uBlock are you on now where the issue is still occurring?

[2018-02-14 22:22] nikrolls commented on #106
@ondrejx I'll try to reproduce this. However if it's also happening in Chrome then that would indicate it's not specific to the Edge release, and therefore should be [opened in the core repo](https://github.com/gorhill/uBlock/issues).

[2018-02-16 09:39] ondrejx commented on #106
@LordManhattan Hi. Yes, you are right - from the start is everything quick with zero delay. But for example, when when I start browsing of individual articles on www.idnes.cz, I open 6 articles without delay but next article freeze. Please try If you will have the same problem.

[2018-02-16 16:18] LordManhattan commented on #106
@ondrejx Confirmed!

I'm able to load the front page, but Edge basically crashes (freezes) if I try to open an article. Next step was to disable uBlock on that domain, and that actually solves the issue. Checked Firefox (58) w/ uBlock, and there are no issues.

**Recap:**

- With uBlock enabled: Only the front page loads
- With uBlock disabled: Everything loads

**Details:**

- **Device:** Microso

[2018-02-19 22:39] jppmarujo opened #107 "There's no third-party filters to select"
### Describe the issue

I'm using uBlock Origin on Chrome, which works without any hiccups.
So i tried installing it on Microsoft Edge.

There is no 3rd party filters list to choose from, which makes the surfing the web less enjoyable, since there are still a lot of annoyances active, like Anti-Adblocks or pop-under ads.

### One or more specific URLs where the issue occurs

ms-browser-extension:/

[2018-02-22 11:03] s-john19 commented on #105
Ok I found out how you should be able to see my bug:
With the newest insider preview it's now possible to install extensions again. So I installed uBlock Origin, I activated it for inPrivate and it was working.
But now after 2-3 days I deactivated the uBlock Extension completely for 30 sec. After 30 sec I activated it and I got the bug again.
Now I need to disable the extension for InPrivate again

[2018-02-22 12:45] jppmarujo commented on #107
Somehow it started to work, and i don't think the extension updated within the Microsoft Store.
In my specific case, it is closed, you may want to close the issue. Nonetheless, it happened, so you might look into it if you have the time.

[2018-02-27 03:19] mariojuniorjp commented on #92
Same problem here with uBlock Origin and Tampermonkey. All others extensions install without problem.

![2018-02-27_00-18-38](https://user-images.githubusercontent.com/11687827/36708833-cc593c5e-1b53-11e8-8cb3-9e65d0e71672.png)

[2018-03-03 16:40] KeeffromLondion commented on #105
Hi Nik.
I have the same problem on 17110.  If Allow in in InPrivate browsing is enabled, UO crashes.  If it is disabled, UO works fine.

I have reported it in Feedback Hub as requested above.  See https://aka.ms/N7frm6
Cheers

Keith

[2018-03-05 07:54] nikrolls commented on #107
Thanks @jppmarujo. This is an odd case and I'm glad it resolved itself. I'll close the issue as it's fixed for you, but it will be on record should someone else have the same issue and wishes to re-open it.

[2018-03-05 07:54] #107 closed

[2018-03-05 08:02] nikrolls commented on #106
There's definitely an issue here but I'm having trouble diagnosing it. In the latest Insider build, the extension quits entirely when loading that website at all. I'll give it a go on the next build, and I also welcome diagnosis from anyone else who happens to have a chance.

[2018-03-07 14:16] lychichem opened #108 "Ublock Edge Broke Some Sites On Win 10 17115"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
Ublock Edge Broke Some Sites On Win 10 17115

### One or more specific URLs where the issue occurs
http://www.chem.zju.edu.cn/fxcspt
[URL(s) for issue on a specific site are **mandatory**]

### Screenshot in which the issue can be seen
![default](https://user-images.githubusercontent.com/93165

[2018-03-13 22:06] HJLopes commented on #92
I'm having the same problem with uBlock Origin. I had uBlock installed for a long time and it worked good until today. It said that the installation was corrupted. After Uninstall and a new install from the store, it says it is corrupted and need to reinstall again. I have retried several times (also after reboot), but the error remains.

![image](https://user-images.githubusercontent.com/37350999

[2018-03-17 05:53] reunicorn commented on #92
@HJLopes That's the exact issue I had before, and the steps I outlined above (uninstalling via PowerShell) fixed it. Have you tried following those steps, and if so, did it resolve the issue?

[2018-03-17 12:48] tlsg1 commented on #92
Did not fix. Uninstall went well but still getting error; "this app
encountered a problem. Please reinstall it to repair."

On Sat, Mar 17, 2018 at 12:53 AM, reunicorn <notifications@github.com>
wrote:

[2018-03-17 20:07] reunicorn commented on #92
Darn :-( Thank you for trying and reporting back.

On Sat, Mar 17, 2018, 5:48 AM tlsg1 <notifications@github.com> wrote:

[2018-03-17 20:46] HJLopes commented on #92
Me too, it did not fix it.  Uninstall went well but after reinstalling it I still get the error: "this app encountered a problem. Please reinstall it to repair.”
I have retried several times but no luck.
Until this is fixed I have now installed another alternative Edge plugin, but it’s not so efficient and good as uBlock, so I hope this problem will get resolved soon.

No dia 17/03/2018, às 05:53,

[2018-03-18 00:53] mariojuniorjp commented on #92
@reunicorn I had done this before. It does not solve the problem. :'(

[2018-03-20 10:47] transentia opened #109 "Clicking on the UO shield causes the menu to appear only partly/with wrong size."
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
Clicking on the UO shield causes the menu to appear only partly/with wrong size.

### One or more specific URLs where the issue occurs

[URL(s) for issue on a specific site are **mandatory**]
Can be seen on THIS page: https://github.com/nikrolls/uBlock-Edge/issues/new

### Screenshot in which

[2018-03-20 10:56] transentia commented on #109
Forgot to say that the XPS 15 is a hiDPI display. that's probably the reason for this.

[2018-03-21 20:36] IcePanther commented on #109
Yeah, I have the same problem since a few days, maybe it's related to a Windows update ?

Anyway, it does this OR still opens too small as it did before, the previous fix (for issues 70, 95, etc.) didn't work on my machines (Surface Pro 3 - HiDPI ; tower, not HiDPI)

[2018-03-23 14:21] MikeCMN opened #110 "uBlock Origin for Edge not blocking anti-ad block notifications"
Read first: <https://github.com/nikrolls/uBlock-Edge/blob/master/CONTRIBUTING.md>

### Describe the issue
uBlock Origin for Edge does not block anti-ad block notifications on Gizmodo Media Group websites. uBlock Origin for Chrome, Firefox, and Opera does block these notification pop-ups. Only on Edge do these websites seem to be able to get around this.

### One or more specific URLs where the iss

[2018-03-23 23:38] HJLopes commented on #92
Today I got and installed the latest MS update "March 22, 2018—KB4089848 (OS Build 16299.334)".
After rebooting the PC to finalize the MS update, uBlock Original now installs without problems!
So the installation problem is resolved!

[2018-03-26 01:40] lychichem commented on #108
Update: After someway of resetting Edge (I didn't do anything but all of my cookies lost), the extension works properly. I'll close this issue now until it happens again.

[2018-03-26 01:40] #108 closed

[2018-03-27 03:33] nikrolls commented on #110
I'm unable to reproduce this on Edge 42.17627.1000.0, so it may have been fixed in the next Windows update. I'll try it on Edge 41 and report back.

[2018-03-27 03:35] nikrolls commented on #105
Microsoft have stated that they're "working with extension developers to get their extensions working for InPrivate mode". I'll do some more experimentation and reach out to Microsoft to see if there is anything specific I need to do to get this working properly.

[2018-03-27 03:37] nikrolls commented on #109
There hasn't been a release since #70 and #95 were merged, so they won't have shown up yet.

More accurately, there were a few uBlock releases but they dealt with Firefox only and I didn't do an Edge release for them. I've submitted the latest stable uBlock release to the Store now so once that's publicly available I'll loop back to see if the issue is resolved for you all.

[2018-03-27 20:45] KeeffromLondion commented on #105
Thank you Nik.

UO has been working fine on 17128 with InPrivate enabled.  I didn't notice anything in the release notes of any of the more recent builds that would suggest that the underlying problem has been fixed, though.

Cheers , Keith

[2018-03-28 00:54] nikrolls commented on #109
@transentia @IcePanther, can you please try with the latest update available now, and confirm if this has been fixed?

[2018-03-28 10:25] transentia commented on #109
This looks better, but still isn't 100%.

The UI mostly shows without the left-hand grid but once every 2 or 3 clicks, the UI shows the grid. In my testing it always shows the 'power' column. It has shown up too-large once or twice as well...but right-justified in the space, rather than left-justified as in my earlier screenshot.

Also: when I click, I can see a very brief redraw in the too-large

[2018-03-28 16:48] IcePanther commented on #109
@nikrolls

For me, on the two items :

- Regarding the #70, #95 etc. problem : Now it's kind of fixed, but not completely : When the popup opens, it's still "too small" (the grid doesn't show) randomly (more than half the time) but at least now it's properly aligned so the base controls show up, and I have to click twice on "blocked requests" to make the grid appear.
The base UI always appear in f

[2018-04-04 16:00] Alpha-Soft-GmbH opened #111 "ublock-Edge can't install/start"
### Describe the issue

uBlock can't install/start with MS Edge
See pics.

### One or more specific URLs where the issue occurs

### Screenshot in which the issue can be seen

![04-04-_2018_17-16-16](https://user-images.githubusercontent.com/38078601/38319197-84bc139e-3831-11e8-8e47-7bb7c8106993.jpg)
![04-04-_2018_17-58-58](https://user-images.githubusercontent.com/38078601/38319389-f3a893fe-3831-

[2018-04-23 07:29] seba2282 opened #112 "Two filters don't work - orange triangle and connection error 211731."
I have a problem with MS Edge + Ublock Origin. Two filters can't download base list or update. There are "Norskie DandelionSprout Filter" and "Polish Cookies Filter". In Ublock Origin I see error connection number 211731. In different extensions any problems with this filters. Can help?

[2018-04-24 11:58] quiret opened #113 "Cannot block elements using element picker"
### Describe the issue

![image](https://user-images.githubusercontent.com/7682485/39184752-f65f14ea-47c4-11e8-9b6f-35872d8e21ff.png)
When trying to remove any element of any web page using uBlock Edge I always get this red circle mouse which does nothing.

![edge_script_block_error](https://user-images.githubusercontent.com/7682485/39185220-c59efe86-47c6-11e8-918b-0d62d7bd30df.png)
Inside of the

[2018-04-24 19:33] quiret commented on #113
Has fixed itself. Sorry for inconvenience.

[2018-04-24 19:33] #113 closed

[2018-05-09 18:13] ghajini opened #114 "edge specific issue"
@nikrolls
### Describe the issue
comments doesn't load in this site with ublock edge active

### One or more specific URLs where the issue occurs

https://www.businessinsider.in/heres-how-trumps-decision-to-pull-out-of-the-iran-nuclear-deal-may-affect-india/articleshow/64093736.cms

### Screenshot in which the issue can be seen

![screenshot 3](https://user-images.githubusercontent.com/20338483/39

[2018-05-11 03:19] jspenguin2017 opened #115 "[FYI] Edge layout engine bug filed"
### Describe the issue

An Edge layout engine bug cause subsequent-sibling combinator to not get recalculated for (only) local files.

I have filed an issue here: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17473318/

### One or more specific URLs where the issue occurs

Dashboard.

### Screenshot in which the issue can be seen

![image](https://user-images.githubuserconte

[2018-05-11 03:28] jspenguin2017 commented on #114
For anyone having the same problem: `@@||static.clmbtech.com^$script,domain=businessinsider.in`

[2018-05-15 13:40] Lupinus opened #116 "Stops working when private session is used at the same time"
### Describe the issue
I think Windows 1803 added the options for Edge plugins to also run in private sessions. This options needs to be enabled per plugin in the plugin section of edge. When Edge is run with a regular session and a private session, uBlock will stop working in the regular session but not the private session.

### One or more specific URLs where the issue occurs
YouTube.com (start

[2018-05-30 06:58] aannenko opened #117 "uBlock Origin doesn't show anything for blocked websites in Edge"
### Describe the issue

Edge opens a blank tab when I click on a link that matches one of the EasyPrivacy list's patterns.

### One or more specific URLs where the issue occurs

https://www.tomshardware.com/reviews/gpu-hierarchy,4388.html

### Screenshot in which the issue can be seen

![2018-05-30 2](https://user-images.githubusercontent.com/4640265/40703730-6a05b65a-63e6-11e8-8d26-a60baac1af6a.p

[2018-06-07 08:49] reunicorn commented on #115
Good news! According to James M. of the MS Edge Dev Team,

That's the version which comes with the April 2018 Update, aka RS5.

[2018-06-07 13:11] #115 closed

[2018-06-07 21:21] nikrolls commented on #115
Thanks for following this up, @reunicorn!

[2018-06-30 13:41] DesertBear opened #118 "'Element Picker' and 'Element Zapper' Change Size of Fullscreen Window"
### Describe the issue

This is only a minor issue, however with Microsoft Edge when it's fullscreen, if you use the 'Element Picker' or 'Element Zapper' tools they change the size of the fullscreen window by adding invisible 7 pixel borders to the sizes and bottom of the window.

### Screenshot in which the issue can be seen

**Before using 'Element Picker' or 'Element Zapper' tools:**
![before](

[2018-07-27 03:56] Chaori opened #119 "Support for offline licensing in Store for Education/Business"
### Describe the issue
Apps & Extensions in the Microsoft Store for Education/Business have the ability to be marked for offline licensing, so that they can be sideloaded into a reference image without the need for individual connections to the MS Store. uBlock is currently not marked for offline install - is this a consideration for future?
### Your settings

- OS/version: Windows 10 1803 (17134)

[2018-07-30 18:59] BruskKurt opened #120 "Making custom filter reduce the full-screen window"
### Describe the issue
When a user tries to add a custom filter to customize blocking of an item on a web page, the Microsoft Edge main window, when in full-screen mode, automatically go to "Window-Mode".

Here an example of the issue in video:
https://streamable.com/t7g5c

1. Microsoft Edge need to be in fullscreen mode
2. Launch a website and click on "Enter selector mode"

### Your settings
- O

[2018-08-07 05:19] TheRyuu opened #121 "incognito: split mode does not work correctly with InPrivate browsing"
### Describe the issue
When run in "split" mode there are several issues with uBlock:
- Dynamic filtering does not appear to work at all.
- While browsing on an InPrivate session the uBlock menu does not display connected or blocked domains properly.  It will just show the root domain but the color coding doesn't show.
- I believe it still does filter correctly with whatever filter lists are enabl

[2018-08-28 19:24] palopezv opened #122 "Is updating to uBlock Origin 1.17.x possible?"
As the title says.

[2018-08-29 03:56] matt588 opened #123 "Cannot Export Whitelist"
### Describe the issue

Hello,

When I attempt to export the whitelist, the "Export" button does not respond. Can this be mended?

Thanks so much. :-)

Regards,
Matt

### One or more specific URLs where the issue occurs

### Screenshot in which the issue can be seen

### Steps for anyone to reproduce the issue

### Your settings

I have not altered the default settings in any way.

- OS/version: W

[2018-09-14 07:02] Weasy666 commented on #122
I'd also like to see an update. There is this annoying problem with the entire browser getting minimized when you deactivate ublock on a page and reload it from the ublock menu.

[2018-09-14 17:02] RamRS commented on #107
I have this problem too. Same steps to reproduce as the OP, here is the screenshot and my environment details:

**Screenshot in which issue can be seen**:

***

![Screenshot](https://image.ibb.co/gL7jjp/image.png)

***

**Steps for anyone to reproduce the issue**:

 1. On any webpage, click on uBlock Origin icon
 2. Click on the "Open the Dashboard" icon (highlighted here: <img alt="screenshot" sr

[2018-09-16 19:37] jspenguin2017 commented on #122
@gorhill Edge port is stuck (again), this time on 1.15.24.

I think the problem is that nikrolls rewrote `vAPI` scripts, which means every time upstream changes it's a huge pain to pull the changes.
I instead used `-ms-preload` to insert a shim, and the unshimmable changes is only a few lines: https://github.com/NanoAdblocker/NanoCore2/blob/master/patches/integration/90_0_edgyfy.patch

Except the

[2018-09-16 21:37] nikrolls commented on #122
There has been very little rewritten. Only small modifications have been made where there are incompatibilites with Edge.

The issue at the moment is that recent releases of uBlock are broken in Edge with regards to hiding elements. This is to do with the CSS content rewrites in the core. I'm monitoring it and trying new releases as they come out, as well as attempting to find a fix.

I welcome an

[2018-09-16 22:06] jspenguin2017 commented on #122
@nikrolls Try this patch? https://github.com/NanoAdblocker/NanoCore2/blob/master/patches/10_0_user_css.patch

[2018-09-16 22:27] gorhill commented on #122
Whatever can go to upstream is welcome, I already have code paths specific to Firefox or Chromium, I don't mind also doing it for Edge -- so as to minimize as much as possible Edge version.

[2018-09-16 22:40] jspenguin2017 commented on #122
@gorhill I'm using the shim here: https://github.com/jspenguin2017/Edgyfy/blob/master/edgyfy.js
No other changes should be needed beside the two patches mentioned above.

The maintenance work is basically 0. It usually takes 2~3 minutes per release. I would say just put Edge stuff in Chromium platform scripts, 1 hash table lookup really does not slow things down.

There's also a browser bug (`tabs

[2018-09-16 22:45] jspenguin2017 commented on #122
@gorhill Also keep in mind that some filters needs to be different in Edge, and neither uAssets nor the Subreddit are interested in handling them.

[2018-09-16 22:52] gorhill commented on #122
I can't test nothing for the Edge version -- I don't have Windows, so best is that a PR is made with everything sorted out already, the only thing I will be able to look at is that both Chromium/Firefox are still working as expected.

[2018-09-16 22:55] jspenguin2017 commented on #122
@gorhill You can run a VM, it's free, Windows 10 doesn't force you to buy a license.

[2018-09-18 09:07] Sh1noka commented on #120
I am also having this problem. Same settings.

[2018-09-19 15:32] gorhill commented on #122
@nikrolls I have created a new branch for Edge, <https://github.com/gorhill/uBlock/tree/edge>, which is essentially the chromium version + all changes I found was needed to remove errors and glitches that I could spot when loading uBO in Edge (from within a VM). Surely there is more work to do but I think it would be best now to bring the Edge version in the main dev tree since there are really no

[2018-09-22 19:27] jspenguin2017 commented on #122
@gorhill Do you have access to the store listing? Also make sure you have Windows SDK installed, otherwise ManifoldJS will send your code to a build server over HTTP.

I should be able to help with testing by the end of the month.

[2018-09-22 19:34] gorhill commented on #122
No, I don't have access to the listing. At this point I am waiting an answer from @nikrolls in order to proceed with the above.

[2018-09-22 19:39] jspenguin2017 commented on #122
@gorhill Also `ms-browser-extension-scheme` should be in default whitelist.

[2018-09-22 19:43] jspenguin2017 commented on #122
And you should sanitize `Date.prototype.toLocaleString` if you haven't:
![image](https://user-images.githubusercontent.com/7283682/45921151-67fac300-be6d-11e8-9049-ed7bc0209ca1.png)

[2018-10-03 21:25] DesertBear opened #125 "Unable to Paste or Type Text in 'My Filters' Section"
### Describe the issue
With the latest Windows update, when copying and pasting text into the 'My Filters' text section, the text won't paste.  In addition, it isn't possible to type text into the text section either.  The 'Enter' key and arrow keys moves the cursor around the text section, but it still won't allow you to type or paste any text.

In order to allow text to be pasted or typed, you n

[2018-10-03 23:03] DesertBear opened #126 "Element Picker, Element Zapper and Block Element Stop Working"
### Describe the issue
With the latest Windows update, the Element Picker, Element Zapper and Right-Click > Block Element keep stopping working.

### Steps for anyone to reproduce the issue
**1)** Go to uBlock Settings > And select 'Reset to default settings'

**2)** Close Edge, then re-open Edge

**3)** Go to Edge Settings > Extensions > And turn on the uBlock Origin extension

**4)** Close Edge,

[2018-10-03 23:39] DesertBear commented on #126
In addition to my opening post.  When the Element Picker, Element Zapper and Block Element go into their failed mode and stop working, any filters that I have in 'My Filters' also stop working until I close the browser.

For example, if I have the entry shown below in 'My Filters' and I visit https://vimeo.com, after the Element Picker, Element Zapper and Block Element have stopped working, the bl

[2018-10-04 13:30] DesertBear opened #127 "Cosmetic Filters Stop Working After Browsing A Few Pages"
### Describe the issue
With the latest Windows update, cosmetic filters stop working after browsing a few pages.

### Steps for anyone to reproduce the issue
**1)** Open Edge and go straight to https://www.deviantart.com/popular-24-hours/.  The cosmetic filters work OK as per the following screenshots:

![a](https://user-images.githubusercontent.com/27423064/46477054-94a1c980-c7e1-11e8-9753-738ca1

[2018-10-11 01:56] fourwhey commented on #127
Element Picker, Element Zapper and Block Element also do not work with InPrivate mode enabled.

[2018-10-26 07:57] IcePanther commented on #121
First, I agree that in current mode, it does not work at all in private windows. Menus don't function, etc.

Regarding the incognito manifest property, here is the doc : https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/incognito

So I guess putting it in spanning mode wouldn't break anything, it would make it work like in Firefox, where the settings are shared b

[2018-10-26 21:03] James1o1o commented on #122
Pinging @nikrolls

[2018-10-29 23:21] crim2som commented on #125
Similar report at [https://github.com/uBlockOrigin/uAssets/issues/3970#](url)
mapx says - It isn't a filter issue. I seems to be a problem with the adblocker itself.
crim2som says - Windows updates has auto installed Win10 Ver 1809 and there has been many reported problems about Microsoft releasing yet another update that is not fit for purpose. There is no auto update feature within uBlock Origin

[2018-10-30 12:48] JHahnHRO opened #128 "Spotify ads get blocked in Chromium, but not in Edge"
Pretty much selfexplanatory. The ads played in free Spotify get blocked with uBlock fro Chromium, but not with uBlock for edge, even though the same filter lists are active.

### One or more specific URLs where the issue occurs

https://open.spotify.com/browse/featured?pwa=1

### Steps for anyone to reproduce the issue

1. Open spotify in free mode
2. Play songs for while
3. Scream in frustration

[2018-11-06 20:13] jspenguin2017 commented on #122
Maybe we should just start fresh, clearly this isn't going anywhere.

I think my current patch driven approach is working way better than a normal fork. I used to use a normal fork, and 4 months in it's basically impossible to pull upstream changes.

Running 1.17.0 on 1803 without any showstopping issues:

<details>

![image](https://user-images.githubusercontent.com/7283682/48090512-61799e00-e1c4

[2018-11-18 19:59] Weasy666 commented on #122
Has anyone created a new repo? Or is it possible to integrate it somehow with what @gorhill proposed?

[2018-11-29 16:56] HJLBX opened #129 "Is this project abandonware ?"
It appears that it is...

[2018-12-06 20:44] jspenguin2017 commented on #122
I guess it doesn't matter anymore, Edge will soon be based on Chromium.

[2018-12-09 11:35] palopezv commented on #122
If you consider October 2019, if we are lucky, close enough. Judging by Microsoft's development track record I would guess October 2020 is a better possibility.

[2018-12-09 15:14] jspenguin2017 commented on #122
Chromium is a complete and functional browser, all Microsoft has to do is to make it look more like the current Edge, I'd say it'll be ready next April.

[2018-12-11 00:34] nikrolls commented on #122
Apologies again for my absense, domestic issues are still taking much more of my time than I expected.

[Microsoft has announced that they intend Edge on Chromium to "support existing Chrome extensions" (Engadget)](https://www.engadget.com/2018/12/10/microsoft-edge-chrome-extensions/). Will that mean it can literally access the Chrome Web Store? I think unlikely. Will it mean that you can submit t

[2018-12-11 01:20] jspenguin2017 commented on #122
I think very likely. I would guess 99% of developers would not be interested in spending $20 just to copy the exact same package from WebStore to Microsoft Store, so it does not make sense for Microsoft to restrict extension pool of Edge to just Microsoft Store. Considering other Chromium forks are able to install extensions from WebStore, I don't see why Microsoft would not do the same.

I'd say

[2018-12-11 15:35] gorhill commented on #122
Well given that Edge will be based on Chromium in the medium term, there is no point to keep working on the current Edge version. However, once Edge uses Chromium engine, I expect that uBO will work with minimal changes (maybe details in the manifest), so that should lower quite a lot maintenance burden. I guess it's a few months in the future now, but once Edge converts to Chromium engine, is the

[2018-12-12 17:53] alxtsg commented on #129
There is a tagged release, [1.16.6](https://github.com/nikrolls/uBlock-Edge/releases/tag/1.16.6), but looks like the release never got published to the Microsoft Store. At the moment of writing, the latest stable version on Microsoft Store is still 1.15.24.

On the other hand, Microsoft decided to [adopt Chromium](https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web

[2018-12-19 16:18] alxtsg commented on #129
You may want to take a look at [Nano Adblocker](https://github.com/NanoAdblocker/NanoCore2), which is a fork of uBlock Origin with some tweaks.

[2018-12-21 10:06] yous commented on #129
There is #122 discussing the future of this project.

[2019-01-04 14:04] jspenguin2017 commented on #122
I just got an email from Microsoft about the new Edge browser. They claim that Chromium extensions should work without modification. However, it sounds like the new Edge browser won't be able to use the WebStore, but that's not explicitly mentioned in the email, so I could be wrong. Microsoft will test and publish existing extensions if listing owners provided consent.

Looks like the new Edge bro

[2019-01-04 19:16] nikrolls commented on #122
Yep, looks like Microsoft will maintain its own store (which while less than ideal for users, makes sense for a lot of reasons). I can't tell if they will automatically publish extensions by scraping updates from the Chrome store, but they seem to want to do that with some extensions during testing.

@gorhill I will contact you privately about getting uBlock into this testing programme, and to you

[2019-04-13 21:15] AmineI commented on #24
As this is still an issue, is there any workaround to manually export the data ? Considering Edge is moving to Chromium anyway, it'd be nice to have a way to copy the settings to the chromium version :)

[2019-05-11 07:20] seba2282 opened #130 "Old Edge base EdgeHtml - general question."
Hello,
I have general question. Ublock for Edge is permamently discontinued or will back?

Best Regards

[2019-05-11 20:40] nikrolls commented on #130
Edge itself is being rebuilt on Chromium and will support extensions from the Chrome store. So the Edge-specific version is no longer maintained, due to issues maintaining compatibility with current Edge.

[2019-05-11 20:47] seba2282 commented on #130
So any plan suport legacy? Chromium final maybe will be after half year or 1 year.

[2019-05-11 20:57] nikrolls commented on #130
Likely 6 months. Unfortunately due to issues in Edge's extension support, maintaining compatibility has been extremely challenging. So likely there will be no further updates for the EdgeHTML version.

[2019-05-11 22:02] seba2282 commented on #130
I see Nano Defender or Adguard is updated, but only Ublock Origin not. @nikrolls, Is ublock origin 1.19.x and are some things (forgot how named) and @jspenguin2017 used that to make next update for EdgeHtml his Nano Adblocker (Ublock Origin Fork with extra filters included). So you can too make. Only ask about patch to @gorhill or @jspenguin2017 :)

[2019-05-11 22:06] nikrolls commented on #130
It's also a matter of time. They have time to maintain it, I do not. There have been no volunteers to maintain this extension, instead they forked their own version. This one will not be updated but once Edge on Chromium is released you can use the version that is updated from the Chrome Store. You can even run the Chromium version of Edge now - I use it as my daily driver, it's completely stable.

[2019-05-11 22:06] #130 closed

[2019-05-11 22:15] seba2282 commented on #130
Maybe you have right. :) I gave you only suggest. But understand you. And sorry if you found bad intencions in my words. :)

[2019-05-11 22:51] jspenguin2017 commented on #130
Nope, the way you forked uBO made your port unmaintainable. With my patch driven approach, I spend no longer than 2h every other week to sync upstream changes.

Look at the amount of code [you rewritten](https://github.com/nikrolls/uBlock-Edge/tree/master/platform/edge) vs. the amount of code [I "rewritten"](https://github.com/NanoAdblocker/NanoCore2/blob/bda7d6e7c55f43c0e6be0aeafd27ffc96b205323/p

[2019-05-11 23:06] nikrolls commented on #130
I'm not here to argue. I'm not coming to your repository and criticising you. I did it the way existing forks were done at the time, and I don't think many people would blame me for not taking your feedback on board when you approached it in such a superior and unfriendly way.

[2019-05-12 00:55] jspenguin2017 commented on #130
You criticized me that I rolled my own fork instead of helping you, and that was my response explaining why I chose to not help you. If you feel offended, then I apologize, that was not the intention. I simply wanted to inform you issues with your current setup and how could you make it better so that other volunteers can contribute to it.

I am not watching your repository, but I got pinged here,

[2019-05-12 02:06] seba2282 commented on #130
@jspenguin2017, I see, @nikrolls won't help by you, only he went to argued. So I would apologize you for that, I suggested him about he can go help to you and @gorhill. It was mistake. I didn't think, he is on anti.
@nikrolls, thanks for didn't accept my suggest. We should help all us. It is intention good people from GitHub. They are big friendly family. I agree with words @jspenguin2017. You sho

[2019-05-28 10:22] gdata1 commented on #130
Are you planning support for the new edge? Update through the chrome store?

[2019-05-28 10:36] seba2282 commented on #130
@gdata1, @gorhill supported Edge chromium, but you need add extension from chrome web store of course. Best Regards

[2019-05-28 10:56] nikrolls commented on #130
@gdata1 @seba2282 yes, you can do it that way. However @gorhill and I have organised for Microsoft to pull the extension from the Chrome Store to the Edge on Chrome store, so you will have support from Chromium Edge by default without having to enable the Chrome Store.

[2019-05-28 11:05] gdata1 commented on #130
@nikrolls An older version is installed for chromium edge. If you put through Edge insider addons

[2019-05-28 11:20] seba2282 commented on #130
@nikrolls, what about old Edge, you seriously claimed support? I want say, to have Edge Chromium by all (not only testers) can be few months.

[2019-05-28 11:26] nikrolls commented on #130
@gdata1 Yes, it's two patch versions behind. That can be expected while this process is in beta.

@seba2282 No, old Edge is no longer supported. I was having trouble with the testing being quite time consuming, because while Edge's Web Extension support was good, there were finicky bugs in it that kept cropping up and needed to be worked around. I'm happy to accept, merge and release PRs, but I do

[2019-05-28 11:31] gdata1 commented on #130
@nikrolls I now can not find the extension in the store Edge Insider

[2019-05-28 11:32] nikrolls commented on #130
@gdata1 Hmm, you're right. I'll assume something technical for now, but I'll check back in after a few days to see if it's back and contact Microsoft about it if it's not.

[2019-05-28 11:44] gdata1 commented on #130
@nikrolls Inform please when will be clear what's the matter

[2019-05-28 12:00] nikrolls commented on #130
@gdata1 I'm not sure at the moment, but I'll post back if I find anything out.

[2019-05-28 16:32] gorhill commented on #130
@nikrolls Do you know what is the extension scheme on the new Chromium-based Edge? (For example, with Chromium it's `chrome-extension:`, for Firefox it's `moz-extension:`.)

[2019-05-28 20:17] nikrolls commented on #130
@gorhill It appears to be `chrome-extension:`, at least for now, for extensions from the Chrome Store and ones, like uB0, which they have automatically pulled into their store from the Chrome Store. It may be different for extensions directly developed for Chromium Edge, but I don't have any of those to check yet (and is likely not relevant for uB0).

[2019-06-03 11:37] gdata1 commented on #130
@nikrolls The extension did not appear in the Edge Insider store. Is there any news on the subject?

[2019-06-03 11:48] gorhill commented on #130
You can download it directly meanwhile: https://microsoftedge.microsoft.com/insider-addons/detail/odfafepnkmbhccpbejgmiehpchacaeak

It just no longer appears as a choice in the main list for blockers.

[2019-06-03 12:12] gdata1 commented on #130
@gorhill The link you gave appears error downloading. And if I go myself to the store edge insider then I do not see there extension

[2019-06-03 12:18] gorhill commented on #130
I don't have Chromium Edge, so I can't check for myself whether it can be downloaded.

[2019-06-03 12:21] seba2282 commented on #130
@gdata1, you can turn install from other shops and install from chrome web store?

[2019-06-14 10:55] iDevPro commented on #45
Hello, how to fix this issue, I have same issue with Safari extension uBlock Origin

[2019-06-15 13:33] gdata1 commented on #130
@gorhill I see it again in Microsoft edge insider addons and can install. everything works.

[2019-09-09 03:45] ZerOri commented on #129
What a pity it is!

[2019-11-09 16:56] ratatoeey commented on #130
its Nov 2019 and Edge HTML is not supported though its the default browser for Windows 10.

from https://www.microsoftedgeinsider.com/en-us/whats-new

seems its a bit premature to say that default browser is old when new browser hasn't even become generally available yet. and once it does, will take some time to become relevant.

If you don't want to support something just say so, ignore the compl

[2019-11-15 08:37] CorvetteAddict opened #131 "uBlockOrigin filters not updating on MS Edge, maybe bad URL error"
### URL(s) where the issue occurs

At the control panel of uBlockOrigin for Edge, filters tab

### Describe the issue

They don't update at all, only non ublock filters update correctly. Others rest with a network error signal

### Screenshot(s)

https://imgur.com/KG4H12O

### Versions

- Browser/version: MS Edge
- uBlock Origin version: 1.15.24

### Settings

non]

### Notes

I perfectly know tha

[2019-11-15 10:47] gwarser commented on #131
Do you see these requests being blocked in The Logger?

[2019-11-15 12:05] CorvetteAddict commented on #131
Sorry, I'm not at work at this moment, so I can verify it at night, but can you remind me where I can find this Logger, please?

[2019-11-15 12:17] gwarser commented on #131
https://github.com/gorhill/uBlock/wiki/The-logger

[2019-11-15 22:45] CorvetteAddict commented on #131
Ok, I only see network errors:

https://imgur.com/aN5c2rD

Maybe is on my end, because I've tried it on another PC with Edge installed (one of my work), and it fully updated all the filters without issues.

[2019-11-16 00:31] gwarser commented on #131
What happens if you try to open these links in browser, for example: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/unbreak.txt?_=218591

[2019-11-16 10:36] CorvetteAddict commented on #131
Ok, seems a problem with my home ISP that's blocking the access to those URLs because I get an 404 errors when I try to open those links.

With my mobile ISP I can access without any problem.

What can I do?

[2019-11-16 16:07] gwarser commented on #131
"Sky Fibre" by any chance? They have something called "broadband shield", and this can be disabled somehow. I don't know how, this is info from old Reddit post https://removeddit.com/r/uBlockOrigin/comments/728m5i/unable_to_update_filters/

Can also be antivirus.

[2019-11-16 17:53] CorvetteAddict commented on #131
OK, I have found the source of the problem. Seems that Spanish goverment have decided to block al access to raw.githubusercontent.com from any ISP inside Spain, or at least the three big ones, and my home ISP is one of them. More info:

https://twitter.com/topjohnwu/status/1194205128867209216

https://github.com/github/gov-takedowns/blob/master/Spain/2019/2019-10-23-GuardiaCivil.md

Maybe changing

[2019-11-17 20:08] CorvetteAddict commented on #131
Confirmed. Changing DNS fix the connection issue.

[2019-11-17 20:08] #131 closed

[2019-11-18 03:24] Akababa opened #132 "Can't build 1"
### Describe the issue
I tried to build on WSL Ubuntu from the 1.16.6 zip release by running `./tools/make-edge.sh`. Everything looks fine, but when I load the extension in Edge it does nothing.

### One or more specific URLs where the issue occurs

### Screenshot in which the issue can be seen

![image](https://user-images.githubusercontent.com/4205182/69022221-8c2a3500-0988-11ea-8a2b-e555e29f45c

[2020-01-17 03:44] gdata1 commented on #130
Hello. why the update in the edge addons store is so lagging behind chrome in edge is still 1.23.0?

[2020-01-23 00:12] superusercode commented on #122
https://blogs.windows.com/msedgedev/2019/12/16/get-started-extensions-addons-microsoft-edge-chromium/

## Transitioning your existing extensions to Chromium
As we move towards the general availability of the new Microsoft Edge on January 15th, 2020, we will no longer accept new submissions for Microsoft Edge Legacy (EdgeHTML-based) extensions after December 17th, 2019. We will continue to accept u

[2020-02-03 04:50] alexkoala opened #133 "Need update in Microsoft Edge Addons"
uBlock Origin version is 1.23.0 in Microsoft Edge Addons (Edgium Store).
Need a update to lastest version.

[2020-02-03 05:49] nikrolls commented on #133
Thanks! Unfortunately I'm busy this week but will look at getting it up to date next week.

[2020-02-05 11:16] 4c74356b41 commented on #45
same happens with edge dev to me. I would assume the root cause is the same, anyway I can figure this out\test this?

[2020-03-08 03:49] alexkoala commented on #133
@nikrolls https://github.com/uBlockOrigin/uBlock-issues/issues/879

[2020-03-14 06:27] xyhere2001 opened #134 "New Edge is excellent, please update uBlock!"
Dear Rolls,

   The new EDGE is so great, espesially in my country!
   The  uBlock is also great, chould you please spend some time to update it to latest version!

thanks a lot!

[2020-03-18 18:49] alexkoala commented on #133
If you are too busy, then may I publish to MEA?
I have a Microsoft developer (individual) account so I can publish the latest uBO version if you agree.

[2020-03-25 15:03] alexkoala commented on #133
@nikrolls If you are too busy, then may I publish to MEA?
I have a Microsoft developer (individual) account so I can publish the latest uBO version if you agree.

[2020-04-03 21:11] chingc commented on #129
Go to `edge://extensions` and enable `Allow extensions from other stores` (bottom left) and you can install uBlock Origin from the Chrome Web Store.  I've been using it for a while and it works just fine.

[2020-04-03 21:12] chingc commented on #134
Go to `edge://extensions` and enable `Allow extensions from other stores` (bottom left) and you can install uBlock Origin from the Chrome Web Store.  I've been using it for a while and it works just fine.

[2020-04-04 09:09] alxtsg commented on #129
That's for Edge based on Chromium. For Edge Legacy, there is no such option for installing extentions from Chrome Web Store, because those extensions are not compatible with Edge Legacy.